<%= form_for(@rejected_part, html: { class: "vms-form bg-light border rounded p-3 mb-3" }) do |f| %>

  <% if @rejected_part.errors.any? %>
    <div class="alert alert-danger p-2 small font-weight-bold">
      <p class="mb-0">The update could not be processed due to <%= pluralize(@specification.errors.count, "error") %>:</p>
      <ul class="mb-0">
        <% @rejected_part.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :so_num,
                    required_field_label('Shop Order') %>
        <%= f.text_field :so_num,
                         class: 'form-control',
                         required: true,
                         onchange: 'find_so_tags();' %>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :reject_tag_num,
                    required_field_label('Reject Tag #') %>
        <%= f.number_field :reject_tag_num,
                           class: 'form-control',
                           required: true,
                           min: 1,
                           step: 1,
                           id: 'reject_tag_num_field',
                           readonly: true  %>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :from_tag,
                    required_field_label('Source') %>
        <%= f.select :from_tag,
                     ['Original S.O.'],
                     { include_blank: true },
                     { class: 'form-control',
                       id: 'from_tag_field',
                       required: true } %>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :date,
                    required_field_label('Date') %>
        <%= f.date_field :date,
                         class: 'form-control',
                         required: true %>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :user_id,
                    required_field_label('Rejected By') %>
        <%= f.select :user_id,
                     options_for_select(User.all.map { |u| [u.display_name, u.id] }, @rejected_part.user_id),
                     { include_blank: true }, 
                     { class: "form-control",
                       required: true } %>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :sec1_loads,
                    required_field_label('Loads Rejected') %>
        <%= f.text_field :sec1_loads,
                         class: 'form-control',
                         required: true %>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :weight,
                    required_field_label('Weight') %>
        <%= f.number_field :weight,
                           class: 'form-control',
                           required: true,
                           min: 0,
                           step: 0.01  %>
        <small class="form-text text-muted font-weight-bold">
          This is the total weight of all loads rejected, not the weight of a single load.
        </small>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :defect,
                    required_field_label('Defect') %>
        <%= f.select :defect,
                     ['Adhesion', 'Alloy', 'Appearance' , 'Arced', 'Built Up', 'Chromate', 'Coverage', 'Not Clean', 'Other', 'Post Dip', 'Thickness', 'Wrong Process'].sort,
                     { include_blank: true },
                     { class: 'form-control',
                       required: true } %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <%= f.label :defect_description,
                    required_field_label('Description of Defect/Problem') %>
        <%= f.trix_editor :defect_description,
                          class: 'form-control',
                          required: true %>
        <p class="form-text small text-muted font-weight-bold">
          Be as descriptive as possible about what is wrong with the parts. Don't worry about the cause here &ndash; just describe in detail what's wrong.
        </p>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :cause_category,
                    required_field_label('Cause') %>
        <%= f.select :cause_category,
                     ['Cleaning', 'Customer Issue', 'Development', 'Equipment', 'Operator Error', 'Opto', 'Part Related', 'S.O. Procedure', 'Solution', 'Technique', 'Technology', 'Unknown', 'Wrong Process'].sort,
                     { include_blank: true },
                     { class: 'form-control',
                       required: true } %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <%= f.label :cause,
                    required_field_label('Cause of Defect/Problem') %>
        <%= f.trix_editor :cause,
                          class: 'form-control',
                          required: true %>
        <p class="form-text small text-muted font-weight-bold">
          Investigate the cause of the defect or problem ASAP once it is discovered. Use this section to record and/all known information or circumstances that may have contributed to the defect or problem.
        </p>
      </div>
    </div>

    <div class="col-12"><hr class="mt-0 mb-3" /></div>
    <div class="col-12 col-md-6">
      <h5>Load Specific Information</h5>
      <p class="text-muted form-text small font-weight-bold">If you suspect that a specific barrel or station may have contributed to the problem or defect, record known information below.</p>
      <table class="table table-sm table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="w-auto text-center">Load #</th>
            <th class="w-auto text-center">Barrel #</th>
            <th class="w-auto text-center">Station #</th>
            <th class="w-auto text-center">&nbsp;</th>
          </tr>
        </thead>
        <tbody id="load_specific_info">
          <tr>
            <td><%= f.text_field 'load_nums', { name: "qc_rejected_part[load_nums][]", class: "form-control" }%></td>
            <td><%= f.text_field 'barrel_nums', { name: "qc_rejected_part[barrel_nums][]", class: "form-control" }%></td>
            <td><%= f.text_field 'tank_nums', { name: "qc_rejected_part[tank_nums][]", class: "form-control" }%></td>
            <td class="text-center">
              <button class="btn btn-small btn-danger removeLoad"><i class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <p><%= link_to '<i class="fa fa-plus"></i> Add Load'.html_safe,
                     "javascript:;",
                     class: 'font-weight-bold btn btn-sm btn-warning',
                     id: "addLoad",
                     title: 'Add Load' %></p>
    </div>

    <div class="col-12"><hr class="mb-0 mt-0" /></div>
    <div class="col-12">
      <div class="pull-right">
        <%= link_to 'Cancel', root_path, class: 'btn btn-link mt-3 form-cancel-button' %>
        <%= f.button fa_icon('check', text: 'Save'),
                     class: 'btn btn-primary mt-3 font-weight-bold',
                     type: 'submit' %>
      </div>
      <div class="clearfix"><!----></div>
    </div>

  </div>

<% end %>

<script type="text/javascript">

    $(document).ready(function(){
      $('#addNewLoad').on('click', function(){
        var contentToAppend = $('#specific_load_fields').clone();
        console.log(contentToAppend);
        $('#load_specific_info').append($('#specific_load_fields').clone().html());
      });

      $('#load_specific_info').on('click','#remove_option', function(){
        $(this).closest('#options').remove();
      });
    });
  </script>

<script type='text/javascript'>
var temp = $('.temp_information').data('temp');
var so_num = $('#so_field').val();

function find_so_tags(){
  var temp = $('.temp_information').data('temp');
  var so_num = $('#so_field').val();
  $('#from_tag_field').empty();
  $("#from_tag_field").append($("<option></option>").attr("value", '').text(``))
  $("#from_tag_field").append($("<option></option>").attr("value", 'Original S.O.').text(`Original S.O.`))
  if(so_num in temp){
    document.getElementById("reject_tag_num_field").value = temp[so_num]+1;
    if(so_num.toString().length > 0 ){
      for(i=0; i<temp[so_num]; i++){
        $("#from_tag_field").append($("<option></option>").attr("value", `Reject Tag # ${i+1}`).text(`Reject Tag # ${i+1}`))
      }
    }
  }else{
    document.getElementById("reject_tag_num_field").value = 1;
  }
}
</script>