<%= form_for @rejected_part do |f| %>
<%# Section 1 %>
<div class="container-span border p-1">
  <div class="text"><u>Section 1: Identification & Description</u></div>
  <div class="form-row mt-3">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> VMS S.O. #: </span>
          </div>
          <%= f.text_field :so_num, class: "form-control", 
                                    placeholder: "Shop order number.",
                                    id: "so_num" %>
            <div class="invalid-feedback text-center">
              Shop Order # required.
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> Rejected By: </span>
        </div>
        <%= f.select :user_id, options_for_select(
              User.all.map { |u| [u.full_name, u.id] }, 
              unless @rejected_part.user_id.blank?
                [User.find(@rejected_part.user_id), @rejected_part.user_id] 
              end ),
                { include_blank: true }, 
                { class: "form-control" } %>
          <div class="invalid-feedback text-center">
            Rejected by required.
          </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> Date: </span>
        </div>
        <%= f.date_field :date, class: "form-control" %>
        <div class="invalid-feedback text-center">
          Date required.
        </div>
      </div>
    </div>
  </div>

  <div class="form-row mt-3">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> Defect/Problem: </span>
        </div>
        <%= f.select :defect, 
              options_for_select([['Adhesion'     , 'Adhesion'     ],
                                  ['Alloy'        , 'Alloy'        ],
                                  ['Appearance'   , 'Appearance'   ],
                                  ['Arced'        , 'Arced'        ],
                                  ['Built Up'     , 'Built Up'     ],
                                  ['Chromate'     , 'Chromate'     ],
                                  ['Coverage'     , 'Coverage'     ],
                                  ['Not Clean'    , 'Not Clean'    ],
                                  ['Other'        , 'Other'        ],
                                  ['Post Dip'     , 'Post Dip'     ],
                                  ['Thickness'    , 'Thickness'    ],
                                  ['Wrong Process', 'Wrong Process']]), 
              {}, 
              { class: "form-control",
                placeholder: "What's wrong with it?" } %>
        <div class="invalid-feedback text-center">
          Defect/Problem required.
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Weight:</span>
        </div>
        <%= f.number_field :weight, class: "form-control",
                                     step: 0.01,  
                              placeholder: "Weight in lbs." %>
          <div class="invalid-feedback text-center">
            Weight required.
          </div>  
      </div>
    </div>
  </div>
    <div class="form-row mt-3">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> Reject Tag #: </span>
        </div>
        <%= f.number_field :reject_tag_num, class: "form-control",
                            placeholder: "Double check this." %>
        <div class="invalid-feedback text-center">
          Reject Tag # required.
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">From Tag #:</span>
        </div>
        <%= f.select( :from_tag, 
                options_for_select([['Original S.O.', 'Original S.O.'],
                                    ['Reject Tag # 1', 'Reject Tag # 1'],
                                    ['Reject Tag # 2', 'Reject Tag # 2'],
                                    ['Reject Tag # 3', 'Reject Tag # 3'],
                                    ['Reject Tag # 4', 'Reject Tag # 4'],
                                    ['Reject Tag # 5', 'Reject Tag # 5'],
                                    ['Reject Tag # 6', 'Reject Tag # 6'],
                                    ['Reject Tag # 7', 'Reject Tag # 7'],
                                    ['Reject Tag # 8', 'Reject Tag # 8'],
                                    ['Reject Tag # 9', 'Reject Tag # 9'],
                                    ['Reject Tag # 10', 'Reject Tag # 10']]),
                                    { include_blank: true },
                                    { class: 'form-control' })%>
          <div class="invalid-feedback text-center">
            From Tag # required.
          </div>  
      </div>
    </div>
  </div>
</div>

<br>

<div class="container-flex border p-1">
  <div class="text">
    <%= f.check_box :s3box, id: "section3radio" %>
    <u>Section 3: Load Specific Info (use if barrel or station are possible causes of the defect)</u>
  </div>
  <div class="container-span", style="display:<% if @rejected_part.s3box == true %> ;<% else %> none;<% end %>", id="section3">
    <div class="form-row mt-3">
      <div class="col-12">
        <div class="form-group">
          <%= link_to fa_icon('plus-square'),
                            "javascript:;",
                            class: 'font-weight-bold btn btn-sm btn-success',
                            id: "addNewOption",
                            title: 'Add Option' %>
          <%= f.label "Loads:"%>
        </div>
      </div>
      <div class="col-12">
        <div id="option_area"></div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container-span border p-1">
  <div class="text">
    <u>Section 4: Cause of Defect/Problem</u>
  </div>
  <div class="container-span", id="section4">
    <div class="form-row mt-3">
      <div class="col-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Category: </span>
          </div>
          <%= f.select :cause_category, 
                options_for_select([['Cleaning'      , 'Cleaning'      ],
                                    ['Customer Issue', 'Customer Issue'],
                                    ['Development'   , 'Development'   ],
                                    ['Equipment'     , 'Equipment'     ],
                                    ['Operator Error', 'Operator Error'],
                                    ['Opto'          , 'Opto'          ],
                                    ['Part Related'  , 'Part Related'  ],
                                    ['S.O. Procedure', 'S.O. Procedure'],
                                    ['Solution'      , 'Solution'      ],
                                    ['Technique'     , 'Technique'     ],
                                    ['Technology'    , 'Technology'    ],
                                    ['Unknown'       , 'Unknown'       ],
                                    ['Wrong Process' , 'Wrong Process' ]]), 
                {  }, 
                { class: "form-control", 
                  placeholder: "Choose a category" } %>
          <div class="invalid-feedback text-center">
              Cause required.
          </div>  
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Cause: </span>
          </div>
          <%= f.text_area :cause, class: "form-control", 
                placeholder: "Investigate CAUSE asap after DEFECT is discovered/identified. Record ANY known information and circumstances related to the rework that may help identify the cause.", rows: "6" %>
          <div class="invalid-feedback text-center">
              Cause required.
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="btn-group" role="group">
  <%= link_to fa_icon('arrow-left'),
                      root_path,
                      method: :get,
                      class: 'font-weight-bold btn btn-sm btn-secondary',
                      title: 'Back' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary"%>
</div>


<div id="option_field" style="display: none;">
            <div id="options" class="form-row mb-3">
              <div class="form-group">
                <div class="form-row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> Load #: </span>
                      </div>
                      <%= f.text_field 'load_nums', { name: "qc_rejected_part[load_nums][]", class: "form-control" }%>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> Tank: </span>
                      </div>
                      <%= f.text_field 'tank_nums', { name: "qc_rejected_part[tank_nums][]", class: "form-control" }%>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> Barrel: </span>
                      </div>
                      <%= f.text_field 'barrel_nums', { name: "qc_rejected_part[barrel_nums][]", class: "form-control" }%>
                    </div>
                  </div>

                  <div class="col-1">
                    <%= link_to fa_icon('times'), "javascript:;",
                      class: 'font-weight-bold btn btn-sm btn-danger ml-1',
                      id: "remove_option",
                      title: 'Delete Option' %>
                  </div>
              </div>
            
          </div>
        </div>
      </div>
<% end %>
<script type="text/javascript">
  var section3radio = document.getElementById('section3radio')
  var section3      = document.getElementById('section3')

  section3radio.addEventListener("click", function() {
    if(section3radio.checked) {
      section3.style['display'] = "";
      document.getElementById('section3load'  ).disabled = false;
      document.getElementById('section3tank'  ).disabled = false;
      document.getElementById('section3barrel').disabled = false;
    }
    else {
      section3.style['display'] = "none";
      document.getElementById('section3load'  ).disabled = true;
      document.getElementById('section3tank'  ).disabled = true;
      document.getElementById('section3barrel').disabled = true;
    } 
  });
</script>

<script type="text/javascript">
    $(document).ready(function(){
      $('#addNewOption').on('click', function(){
        $('#option_area').append($('#option_field').clone().html());
      });

      $('#option_area').on('click','#remove_option', function(){
        $(this).closest('#options').remove();
      });
    });
  </script>