<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Info</th>
      <th>S.O. #</th>
      <th>User</th>
      <th>Tags</th>
      <th>Defect</th>
      <th>Cause</th>
      <th>Approval without RW</th>
      <th>Load Specific Info</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rejected_parts.each do |p| %>
    <tr>
      <td><%= p.date.strftime("%m-%d-%y") %></td>
      <td></td>
      <td><%= p.so_num %></td>
      <td><%= User.find(p.user_id).full_name %></td>
      <td>
        Tag #: <%= p.reject_tag_num %>
        <br>
        From: <%= p.from_tag %>
      </td>
      <td><%= p.defect %></td>
      <td><%= p.cause %></td>
      <td>
          <% if p.s2box %>
            Loads Approved: <%= p.loads_approved %>
            <br>
            Approved By: <%= User.find(p.approved_by).full_name unless p.approved_by.blank? %>
            <br>
            Comments: <%= p.section2_comments %>
          <% else %>
            N/A
          <% end %>
      </td>
      <td>
        <% if p.s3box %>
          Load #'s: <%= p.load_nums %>
          <br>
          Barrel #'s: <%= p.barrel_nums %>
          <br>
          Tank #'s: <%= p.tank_nums %>          
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <div class="btn-group-vertical", role="group">
          <%= link_to fa_icon('times'),
                          qc_rejected_part_path(p),
                          method: :delete,
                          class: 'font-weight-bold btn btn-sm btn-danger',
                          title: 'Delete Rejected Part',
                          data: { confirm: 'Are you sure you want to delete this rejected part?',
                                    toggle: 'tooltip' } %>
          <%= link_to fa_icon('pencil'),
                      edit_qc_rejected_part_path(p),
                      class: 'font-weight-bold btn btn-sm btn-dark',
                      title: 'Edit Rejected Part',
                      data: { toggle: 'tooltip' } %>
          <%= link_to fa_icon('retweet'),
                      qc_path(p),
                      class: 'font-weight-bold btn btn-sm btn-warning',
                      title: 'Reformat & print rejected part form',
                      remote: true,
                      data: { toggle: 'tooltip' } %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

