<div class="col">
  <% if notes.blank? %>
    <p class="text-danger">No results found.</p>
  <% else %>
    <p class="font-weight-bold">
      <%= page_entries_info notes %>
      <%= paginate notes %>
    </p>
  <% end %>
  <% @bbl.each do |t| %>
    <% cache t do %>
      <table class="table table-fill table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
              <th style="width: 5%">Date</th>
              <th style="width: 40%">Directory</th>
              <th style="width: 40%">Product</th>
              <th style="width: 15%">Application</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t.checks.first.check_timestamp.strftime('%m/%d/%y')%>
            <td><%= t.directory   %> </td>
            <td><%= t.product     %> </td>
            <td><%= t.application %> </td>
          </tr>
          <tr>
            <th></th>
            <th>
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>Shop Order #</th>
                    <th>User ID</th>
                    <th>Load #</th>
                    <th>Block #</th>
                    <th>Rework?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= t.so_num    %> </td>
                    <td><%= t.user_id   %> </td>
                    <td><%= t.load_num  %> </td>
                    <td><%= t.block_num %> </td>
                    <td><%= t.is_rework %> </td>
                  </tr> 
                </tbody>
              </table>
            </th>
            <th>
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th> Count </th>
                    <th> Mean </th>
                    <th> Min </th>
                    <th> Max </th>
                    <th> Std. Dev </th>
                  </tr>
                  <tr>
                    <% count = 0 %>
                    <% sum = 0.0 %>
                    <% min = 2.0 %>
                    <% max = 0.0 %>
                    <% cache t.checks do %>
                      <% t.checks.each do |c| %>
                        <% count += 1 %>
                        <% sum += c.thickness.to_f %>
                        <% if c.thickness.to_f < min && c.thickness.to_f >0  %>
                          <% min = c.thickness.to_f %>
                        <% end %>
                        <% if c.thickness.to_f > max %>
                          <% max = c.thickness.to_f %>
                        <% end %>
                      <% end %>
                      <td><%= count %> </td> 
                      <td><%= mean = (sum/count).round(5) %> </td>
                      <td><%= min.round(5) %> </td>
                      <td><%= max.round(5) %> </td>
                      <% sum = 0 %>
                      <% t.checks.each do |c| %>
                        <% sum += (c.thickness.to_f - mean)**2 %>
                      <% end %>
                      <td><%= Math.sqrt(sum/(count)).round(5) %> </td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </th>
            <th>
              <br>
              <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#modal-<%= t.id %>">
                <strong>Checks and Info</strong>
              </button> 
            </th>
          </tr>
        </tbody>
      </table>
      
      <!-- Modal -->
      <div id="modal-<%= t.id %>" class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Checks and Info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render partial: "/thickness/checks/list", locals: {b: t} %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate notes %>
</div>

