<%= form_with model: [commentable, Comment.new] do |f| %>
    <div class="form-group">
    <% users_array = User.all.map { |user| [user.full_name, user.id] } %>
        <%= f.trix_editor :body, class: "form-control", placeholder: "Add a comment..." %>
        <%= f.select :user_id, options_for_select(users_array, commentable.user_id) %>
        <%= f.file_field :attachment %>
    </div>
    <%= f.submit class: "btn btn-primary"%>
<% end %>

