<div class="container-flex">
    <% if commentable.comments.blank? %>
    No comments to display...maybe you should leave one!
    <% else %>
    <div class="row p-3">
        <% commentable.comments.each do |c| %>
            <% if (params[:action] == 'edit' && (commentable.is_a? ShiftNote)) %>
                <%= link_to '(Delete)', 
                    shift_note_comment_path(commentable, c), 
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %> 
            <% end %>

            <div class="col-3 mb-2">
                <% if c.user.blank? %> 
                &nbsp;
                <% else %> 
                    <span class="badge badge-pill" style="color: 
                    <%= c.user.avatar_text_color %>; 
                    background-color: <%= c.user.avatar_bg_color %>;">
                    <%= c.user.initials %> </span>
                <% end %>:
                <br>
                <i><small class="text-muted" style="font-size: 12px;"><%= c.created_at.strftime('%D') %> </i></small>
            </div>
            <div class="col-5 mb-2">
                <div class="float-left">
                <%= sanitize c.body %>
                </div>
            </div>
            <div class="col-4 mb-2">
                <% if c.attachment? %>
                <%= fa_icon "paperclip" %>:
                <a href="<%= c.attachment.url %>" target="blank">
                    <%= image_tag(preview_or_default_image(c)) if c.attachment? %> 
                </a>
                <% end %>
            </div>
        <% end %>
    </div>
    <% end %>
</div>

