<div class="container-fluid mt-0">
<%= form_for [commentable, Comment.new] do |f| %>
<% users_array = User.all.map{ |user| [user.full_name, user.id] } %>
    
    <div class="form-row">
        <div class="form-group col-md-2">
            <%= f.hidden_field :user_id, value: @current_user %>
        </div>
    </div>        
    <div class="form-row">
    <%= f.trix_editor :body, class: "form-control", placeholder: "Add a comment..." %>
        <div class="form-group col">  
                <%= f.label :Attachment , class:"col-form-label" %>       
                <%= f.file_field :attachment, class: "form-control-file" %>
        </div>
    </div>    
    <div class="btn-group" role="group">
      <%= link_to fa_icon('arrow-left'),
                          session[:last_page],
                          method: :get,
                          class: 'font-weight-bold btn btn-sm btn-secondary',
                          title: 'Back' %>
        <%= f.submit "Create Comment", class: "btn btn-primary" %>
    </div>
    
    <div class="pull-right">
        <% if commentable.is_a? SaltSprayTest %>
            <button class="btn float-right" type="button" data-toggle="collapse" data-target="#collapseCommentsList<%=commentable.id%>" style="font-size: 14x;"><%= fa_icon('comments-o')%>
          </button>
        <% else %>
        <% end %>
        
    </div>
<% end %>
</div>