
<table class="table" style="width: 100%; max-width: 550px; margin: 0 auto;" >
  <thead>
    <tr>
      <th class="col-1"> Comments:</th>
      <th class="col-10"></th>
      <th class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <% commentable.comments.each do |c| %>
    <tr>
      <td class="text-center">
        <%= badge(c.user) %>
        <%= c.created_at.strftime('%D') %>
        <%= delete_button(c) %>
      </td>
      <td><%= sanitize c.body %></td>
      <%= attachment_area(c) %>
    <% end %>
  </tbody>
</table>