
  <% if commentable.comments.blank? %>
    No comments to display...maybe you should leave one!
  <% else %>
    <table class="table" style="width: 100%; max-width: 400px; margin: 0 auto;" >
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% commentable.comments.each do |c| %>
        <tr>
          <td><%= c.created_at.strftime('%D') %></td>
          <td>
              <% if c.user.blank? %>
                  &nbsp;
                <% else %>
                  <span class="badge badge-pill" 
                    style="color: <%= c.user.avatar_text_color %>; 
                    background-color: <%= c.user.avatar_bg_color %>;">
                    <%= c.user.initials %> </span>
                <% end %>
          </td>
          <td><%= sanitize c.body %></td>
        </tr>
        <% if c.attachment? %>
          <% c.attachment.each do |f| %>
            <tr>
              <td colspan="3" class="text-center px-0"><a href="<%= f.url %>" target="_blank"><%= image_tag(f.url, size: '320') if !f.blank? %></a></td>
            </tr>
          <% end %>
        <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

