<div class="container-fluid mt-0">
<%= form_for [commentable, Comment.new] do |f| %>    
    <div class="form-row">
        <div class="form-group col-md-2">
            <%= f.hidden_field :user_id, value: @current_user.id %>
        </div>
    </div>        
    <div class="form-row">
        <%= f.text_area :body, class: "form-control", 
                         placeholder: "Add a comment..." %>
        <div class="form-group col">  
            <%= f.label :Attachment , class:"col-form-label" %>       
            <%= f.file_field :attachment, :multiple => true, 
                                     class: "form-control-file", 
                                      name: "comment[attachment][]" %>
        </div>
    </div>    
    <div class="btn-group" role="group">
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
    </div>
    
    <% if combo == true %>
    <div class="pull-right">
        <button class="btn float-right" type="button"
            data-toggle="collapse" data-target="#collapseCommentsList<%=commentable.id%>" style="font-size: 14x; background-color: #DDDDDD; border-color: #dee2e6;""><%= fa_icon('comments-o', text: commentable.comments.length)%>
        </button>
    </div>
    <% end %>
<% end %>
</div>