<% commentable.comments.each do |c| %>
    <p>
    <% if params[:action] == 'edit' %>
        <%= link_to '(Delete)', 
                            shift_note_comment_path(commentable, c), 
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %> 
    <% end %>

    <i><small> <%= c.created_at.strftime('%m/%d/%y') %> </i></small>
    <% if c.user.blank? %> 
        &nbsp;
    <% else %> 
        <span class="badge badge-pill" style="color: 
        <%= c.user.avatar_text_color %>; 
        background-color: <%= c.user.avatar_bg_color %>;">
        <%= c.user.initials %> </span>
    <% end %>:
    
    <%= sanitize c.body %>
    <br>
    <% if c.attachment? %>
    Attachments:
    <a href="<%= c.attachment.url %>" target="blank">
        <%= image_tag(preview_or_default_image(c)) if c.attachment? %> 
    </a>
    <% end %>
    </p>
<% end %>  
