<div class="row mt-3">
  <div class="col-12"> 
    <div class="pull-right mt-2 mr-2">
        <%= link_to fa_icon('plus', text: 'New Print Queue Rule'), new_printing_print_queue_rule_path, class:"btn btn-warning font-weight-bold text-dark" %>        
    </div>  
    <%= form_with url: printing_print_queue_rules_path,
                  class: 'bg-dark text-white border rounded p-3 mb-3',
                  method: 'get' do |f| %>
    <p class="small font-weight-bold text-warning mb-0 text-uppercase">
      <a class="collapse-filters text-warning collapsed" data-toggle="collapse" href="#collapseFilters" role="button" aria-collapsed="true" aria-controls="collapseFilters">
      [ - ]
      </a>
    Filter Results
    </p>
<div class="show mt-2" id="collapseFilters">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :with_user,
                    'User:' %> 
        <%= f.select :with_user,
              options_for_select(User.pluck(:first_name, :last_name, :suffix, :id).uniq.map { |f,l,s,i| ["#{f} #{l} #{s}", i]}, params[:with_user]),
              { include_blank: true },
              { class: 'custom-select', onchange: 'this.form.submit();' }%>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :with_workstation,
                    'Workstation:' %>
        <%= f.select :with_workstation,
              options_for_select(Printing::Workstation.pluck(:name, :id), 
              params[:with_workstation]),
              { include_blank: true },
              { class: 'custom-select', onchange: 'this.form.submit();' }%> 
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :with_doc_type,
                    'Document Type:' %>
        <%= f.select :with_doc_type,
                options_for_select(Printing::DocumentType.pluck(:name, :id), 
                params[:with_doc_type]),
                { include_blank: true },
                { class: 'custom-select', onchange: 'this.form.submit();' }%> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="pull-right">
        
        <%= link_to 'Reset', printing_print_queue_rules_path(:reset => 1), class: 'btn btn-link text-white' %>
        <%= f.button fa_icon('filter', text: 'Filter'),
                      class: 'btn btn-sm btn-warning font-weight-bold',
                      type: 'submit' %>
      </div>
      <div class="clearfix"><!----></div>
    </div>
  </div>
  <% end %>
</div>
