<div class="container-fluid border p-3">

  <%= form_for @print_queue_rule do |f| %>

  <div class="form-row">
    <div class="col-6">
      <div class="form-group">
        <%= f.label "Print Queue:" %>
        <%= f.select :print_queue_id, options_for_select(Printing::PrintQueue.all.map { |q| [q.name, q.id] }.sort, @print_queue_rule.print_queue_id), { include_blank: true }, { class: 'form-control' } %>
        <div class="invalid-feedback text-center">
            Print Queue required.
        </div> 
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label 'User:' %>
        <%= f.select :user_id, options_for_select(User.all.map { |u| [u.display_name, u.id]}, @print_queue_rule.user_id ), { include_blank: true }, { class: 'form-control' }%>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-6">
      <div class="form-group">
        <%= f.label :Workstation_group %>
        <%= f.select :workstation_group_id, 
                options_for_select(Printing::WorkstationGroup.all.map { |w| [w.name, w.id]}.sort, @print_queue_rule.workstation_group_id), { include_blank: true }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :Document_Type %>
        <%= f.select :document_type_id, options_for_select(Printing::DocumentType.all.map{ |d| [d.name, d.id] }.sort, @print_queue_rule.document_type_id), { include_blank: true }, { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="btn-group" role="group">
        <%= link_to fa_icon('arrow-left'),
                            printing_print_queue_rules_path,
                            method: :get,
                            class: 'font-weight-bold btn btn-sm btn-secondary',
                            title: 'Back' %>
        <%= f.submit yield(:button_text), class: "btn btn-primary"%>    
      </div>
    </div>
    <div class="col-6">
      <small id="HelpBlock" class="form-text text-muted">
          Leaving any of the fields blank will tell the system to ignore that field.
      </small>
    </div>
  </div>
    
  <% end %>
</div>