<table class="table table-bordered table-striped">
  <thead class="thead-dark"> <tr>
    <th> Timestamp </th>
    <th> Check Num</th>
    <th> Thickness </th>
    <th> Alloy Percentage </th>
    <th> X </th>
    <th> Y </th>
    <th> Z </th>
  </tr> </thead>
  <tbody>
    <% b.checks.each do |t| %>
      <tr>
        <td><%= t.check_timestamp %> </td>
        <td><%= t.check_num %> </td>
        <td><%= t.thickness %> </td>
        <td><%= t.alloy_percentage %> </td>
        <td><%= t.x %> </td>
        <td><%= t.y %> </td>
        <td><%= t.z %> </td>
      </tr>
    <% end %>
  </tbody>
</table>