<table class="table table-bordered table-striped">
  <thead class="thead-dark"> <tr>
    <th> Customer </th>
    <th> Process Code </th>
    <th> Part ID </th>
    <th> Sub ID </th>
    <th> Lbs/Load </th>
    <th> Lbs/Piece </th>
    <th> Sq. ft/Piece </th>
    <th> Density </th>
  </tr> </thead>
  <tbody>
    <td><%= b.customer     %> </td>
    <td><%= b.process      %> </td>
    <td><%= b.part         %> </td>
    <td><%= b.sub          %> </td>
    <td><%= b.load_weight  %> </td>
    <td><%= b.piece_weight %> </td>
    <td><%= b.part_area    %> </td>
    <td><%=(b.piece_weight.to_f/(b.part_area.to_f*b.checks.first.thickness)).round(2)%> </td>
  </tbody>
</table>
<table class="table table-bordered table-striped">
  <thead class="thead-dark"> <tr>
    <th> Timestamp </th>
    <th> Check Num</th>
    <th> Thickness </th>
    <th> Alloy Percentage </th>
    <th> X </th>
    <th> Y </th>
    <th> Z </th>
  </tr> </thead>
  <tbody>
    <% b.checks.each do |t| %>
      <tr>
        <td><%= t.check_timestamp %> </td>
        <td><%= t.check_num %> </td>
        <td><%= t.thickness %> </td>
        <td><%= t.alloy_percentage %> </td>
        <td><%= t.x %> </td>
        <td><%= t.y %> </td>
        <td><%= t.z %> </td>
      </tr>
    <% end %>
  </tbody>
</table>