<%= form_with url: salt_spray_tests_path,
      class: 'bg-dark text-white border rounded px-3 py-2 mb-3 mt-3',
      method: 'get' do |f| %>

<div class="form-row">
  <div class="col-12">
    <div class="pull-right align-middle mt-1">
      
      <%= link_to fa_icon('plus', text: 'New Test' ), new_salt_spray_test_path, class:"btn btn-warning font-weight-bold text-dark" %>     
    </div>
    <p class="small font-weight-bold text-warning mb-0 text-uppercase" style="margin-top: 10px;">
      <a class="collapse-filters text-warning collapsed" data-toggle="collapse" href="#collapseFilters" role="button">
      [ - ]
      </a>
      Filter
    </p>
  </div>
</div>

<div class="container-fluid collapse show px-0" id="collapseFilters">
    <div class="form-row">
    <div class="col-6 mr-0">
      <div class="form-group">
        <%= f.label :with_process_code,
                    'Process:'  %>
        <%= f.select :with_process_code, 
              options_for_select(SaltSprayTest.options_for_process_code_filter,
                                params[:with_process_code]),
              { include_blank: true },
              { class: 'custom-select',
                onchange: 'this.form.submit();' } %>
      </div>
      <div class="pull-left">
        <%= link_to 'Reset', salt_spray_tests_url, class: 'pl-0 btn btn-link text-white' %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= f.label :with_user,
                    'User:' %> 
        <%= f.select :with_user,
              options_for_select( User.all.map { |u| [u.full_name, u.id]}, params[:with_user]),
                { include_blank: true },
                { class: 'custom-select',
                  onchange: 'this.form.submit();' }%>
      </div>
      
      <div class="form-group pull-right mb-0" style="margin-top: 10px">
      <%= f.label :with_deleted,
                  'Show All?:' %> 
      <%= check_box_tag :with_deleted, true, params[:with_deleted],
                          { onchange: 'this.form.submit();', class:"align-middle" }
                            %>
    </div>
    </div>
  </div>
</div>
<% end %>