<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="col-lg-2 col-md-5 col-sm-5">Shop Order</th>
      <th class="col-lg-2 d-lg-table-cell d-none">Part</th>
      <th class="col-lg-2 d-lg-table-cell d-none">Process</th>
      <th class="col-lg-2 d-lg-table-cell d-none">User</th>
      <th class="col-lg-3 col-md-6 col-sm-6">Results</th>
      <th class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <% @salt_spray_tests.each do |s| %>
      <% specs = format_spec(s) %>
      <tr>
        <%# Shop Order %>
        <td class="d-md-table-cell d-xs-none" style="white-space: nowrap; overflow: hidden;">
          <div class="row">
            <div class="col-12">
              <a href="#" data-process-code="<%= s.process_code %>" title="Filter by process code" class="process-code-filter font-weight-bold">
                <span class="badge badge-warning badge-border float-left mr-2" style="font-size: 40px;  border: 5px solid #343a40;"><%= s.process_code %></span>
              </a>
              <strong class="pull-left" style="font-size: 20px;">
                <% if s.is_sample? || !s.is_sample.blank? %>
                  <%= fa_icon("flask", text: %Q[#{s.so_num} - #{s.sample_code}]) %>
                <% else %>
                  <%= s.so_num  %> 
                <% end %>
              </strong>
              <br>
              <div class="text-muted">
                Load: <%= s.load_num %>
                <br>  
                Dept: <%= s.dept %>
              </div>
              <div class="pull-left">
                <%= s.customer %> - 
                <%= s.part_tag %> 
                <%= s.sub_tag unless s.sub_tag.blank? %>
              </div>
            </div>  
          </div>
        </td>
        <%# Part %>
        <td class="d-none d-lg-table-cell">
          <div class="row">
            <div class="col-12">
              Part Area:   <%= s.part_area unless s.part_area.blank? %><br>
              Density:     <%= s.part_density unless s.part_density.blank?%><br>
              Load Weight: <%= s.load_weight unless s.load_weight.blank?%><br>
            </div>
          </div>
        </td>
        <%# Process %>
        <td class="d-none d-lg-table-cell">
          <% if s.process.blank? || s.process[0].blank? %>
            No process entered.
          <% else %>
            <% s.process.each_with_index do |k,p| %>
              <%="#{p+1}: #{k}" unless k.blank? %>
              <% if p == s.process.count-1 %>
              <% else %>
              <br> 
              <% end %>
            <% end %>
          <% end %>
        </td>
        <%# User %>
        <td class="d-none d-lg-table-cell">
          <small><strong>By:</small></strong>
          <%= User.find(s.user_id).full_name unless s.user_id.blank? %><br>
          <small><strong>On:</small></strong>
          <%= s.salt_spray_test_checks.first.date.strftime("%D") unless s.salt_spray_test_checks.blank? %><br>
          White Spec:  <%= specs[0] %><br>
          Red Spec:    <%= specs[1] %>
        </td>
        <%# Progress %>
        <td class="d-md-table-cell d-xs-none">
          <div class="mt-4">
            <%= render partial: 'progress_bar', 
                  locals: { :s => s, 
                        :specs => specs, 
                        :type => "desktop" } %>
          </div>
          <div class="collapse checks-collapse<%=s.id%>">
            <% x = s.salt_spray_test_checks.in_groups(2, false) %>
            <div class="row">
              <% x.each do |g| %>
                <div class="col-6">
                  <% g.each do |c| %>
                    <%= c.date.strftime("%D") %> - <%= c.c_type %>
                    <br>
                  <% end %> 
                </div>
              <% end %>
            </div>
          </div>
        </td>
        <%# Links %>
        <td class="px-0 text-center align-middle">
          <div class="btn-group-vertical " role="group">
            <div class="dropleft text-center" data-boundary="viewport">
              <button class="btn btn-sm btn-dark text-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="width: 40px;"><%= fa_icon('check-square-o')%></button>
              <div class="dropdown-menu" data-boundary="viewport">
                <%# OK %>
                <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
                  <%= f.hidden_field :salt_spray_test_id, value: s.id %>
                  <%= f.hidden_field :c_type, value: "OK" %>
                  <%= f.hidden_field :date, value: DateTime.now %>
                  <%= f.hidden_field :user_id, value: @current_user.id %>
                  <% if s.salt_spray_test_checks.where(:c_type => 'OFF').blank? %>
                  <%= f.submit 'OK', 
                        { class: "btn btn-primary btn-sm dropdown-item", 
                            data: { 
                            confirm: 'Mark as OK?', 
                              toggle: 'tooltip', 
                              title: 'Mark as OK' } } %>  
                  <% else %>
                  <%= f.submit 'Already Marked OFF', 
                        { class: "btn btn-primary btn-sm dropdown-item",
                          disabled: true, 
                            data: { 
                            confirm: 'Mark as OK?', 
                              toggle: 'tooltip', 
                              title: 'Mark as OK' } } %>  
                  <% end %>           
                <% end %>
                <%# WHITE %>
                <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
                  <%= f.hidden_field :salt_spray_test_id, value: s.id %>
                  <%= f.hidden_field :c_type, value: "WHITE" %>
                  <%= f.hidden_field :date, value: DateTime.now %>
                  <%= f.hidden_field :user_id, value: @current_user.id %>
                  <% if s.salt_spray_test_checks.where(:c_type => 'WHITE').blank? && s.salt_spray_test_checks.where(:c_type => 'OFF').blank? %>
                  <%= f.submit 'White', 
                          { class: "btn btn-sm dropdown-item", 
                            data: { 
                            confirm: "Mark #{s.so_num} as WHITE?", 
                              toggle: 'tooltip', 
                              title: 'Mark as WHITE' } } %>
                  <% else %>
                  <%= f.submit 'Already Marked WHITE', 
                          { class: "btn btn-sm dropdown-item",
                            disabled: true, 
                            data: { 
                            confirm: 'Mark as WHITE?', 
                              toggle: 'tooltip', 
                              title: 'Mark as WHITE' } } %>
                  <% end %>             
                <% end %> 
                <%# RED %>
                <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
                  <%= f.hidden_field :salt_spray_test_id, value: s.id %>
                  <%= f.hidden_field :c_type, value: "RED" %>
                  <%= f.hidden_field :date, value: DateTime.now %>
                  <%= f.hidden_field :user_id, value: @current_user.id %>
                  <% if s.salt_spray_test_checks.where(:c_type => 'RED').blank?  && s.salt_spray_test_checks.where(:c_type => 'OFF').blank?%>
                  <%= f.submit 'Red', 
                          { class: "btn btn-danger btn-sm dropdown-item", 
                            data: { 
                            confirm: "Mark #{s.so_num} as RED?", 
                              toggle: 'tooltip', 
                              title: 'Mark as RED' } } %>
                  <% else %>
                  <%= f.submit "Already Marked RED", 
                          { class: "btn btn-danger btn-sm dropdown-item", 
                            disabled: true,
                            data: { 
                            confirm: 'Mark as RED?', 
                              toggle: 'tooltip', 
                              title: 'Mark as RED' } } %>
                    <% end %>
                <% end %>
                <%# OFF %> 
                <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
                  <%= f.hidden_field :salt_spray_test_id, value: s.id %>
                  <%= f.hidden_field :c_type, value: "OFF" %>
                  <%= f.hidden_field :date, value: DateTime.now %>
                  <%= f.hidden_field :user_id, value: @current_user.id %>
                  <% if s.salt_spray_test_checks.where(:c_type => 'OFF').blank? %>
                  <%= f.submit 'Off', 
                          { class: "btn btn-success btn-sm dropdown-item", 
                            data: { 
                            confirm: "Mark #{s.so_num} as OFF?", 
                              toggle: 'tooltip', 
                              title: 'Mark as OFF' } } %> 
                  <% else %>
                  <%= f.submit 'Already Marked OFF', 
                          { class: "btn btn-success btn-sm dropdown-item",
                            disabled: true, 
                            data: { 
                            confirm: 'Mark as OFF?', 
                              toggle: 'tooltip', 
                              title: 'Mark as OFF' } } %> 
                  <% end %>
                <% end %>
              </div>
            </div>
            <button class="btn btn-sm btn-dark" style="margin-top: -3px;" type="button" data-toggle="modal" data-target="#modalComments<%=s.id%>">
                <%= fa_icon('commenting')%>
            </button>
            <div class="dropleft text-center" role="button">
              <button class="btn btn-sm btn-dark text-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="margin-top: -3px; width: 40px;"><%= fa_icon('share')%></button>
              <div class="dropdown-menu">
                <%= button_to "Send to management.", send_salt_spray_test_path, { class: "dropdown-item", :params => params.merge(:email_management => s.id).to_unsafe_h } %>
                <%= button_to "Send to sales.", send_salt_spray_test_path, { class: "dropdown-item", :params => params.merge(:email_sales => s.id).to_unsafe_h } %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @salt_spray_tests.each do |s| %>
  <div class="modal fade" id="modalComments<%=s.id%>" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render partial: 'comments/comment_combo', locals: { :s => s }%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>