<ul style="list-style-type:none; padding-inline-start: 0px;">
  <% @salt_spray_tests.each do |s| %>

<li>
  <div class="card fluid
    <% if (Time.now - s.salt_spray_test_checks.last.date)/60.minutes > 36 && s.salt_spray_test_checks.where(:c_type => "RED").blank? %>
    bg-danger
    <% elsif (Time.now - s.salt_spray_test_checks.last.date)/60.minutes > 18 && s.salt_spray_test_checks.where(:c_type => "RED").blank? %>
    bg-warning
    <%# email? %>
    <% end %>
  ">
    <div id="carouselExample<%=s.id%>" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <div class="card-header carousel-item active py-2">
          <div class="row mb-0">
            <div class="col-4">
              <a href="#" data-process-code="<%= s.process_code %>" title="Filter by process code" class="process-code-filter font-weight-bold">
              <span class="badge badge-warning badge-border float-left mr-2 mt-2 btn-block" style="font-size: 35px;  border: 5px solid #343a40;"><%= s.process_code %></span></a>
            </div>
            <div class="col-4">
              <p class="text-center mb-1" style="font-size: 22px;"><strong><%= s.so_num %></strong></p>
              <p class="text-muted text-center mb-0" style="font-size: 16px;"> Load: <%= s.load_num %></p>
              <p class="text-center text-muted "><%= s.created_at.strftime("%D")%></p>
            </div>
            <div class="col-4">
              <button class="btn btn-block float-right" style="background-color: #DDDDDD; border-color: #dee2e6;" type="button" data-toggle="collapse" data-target="#collapseInfo<%=s.id%>" style="font-size: 11px;">
              <%= fa_icon('info')%>
              </button>
              <button class="btn btn-block float-right"  type="button" style="background-color: #DDDDDD; border-color: #dee2e6;" data-toggle="collapse" data-target="#collapseComments<%=s.id%>" style="font-size: 11px;">
              <%= fa_icon('commenting')%>
              </button>
            </div>
          </div>
        </div>
        <div class="card-header carousel-item">
          <div class="row">
            <div class="col-3 px-1">
              <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
              <%= f.hidden_field :salt_spray_test_id, value: s.id %>
              <%= f.hidden_field :c_type, value: "OK" %>
              <%= f.hidden_field :date, value: DateTime.now %>
              <%= f.hidden_field :user_id, value: @current_user.id %>
              <% if s.salt_spray_test_checks.where(:c_type => 'OFF').blank? %>
              <%= f.submit 'OK', 
                    { class: "btn btn-primary swipe-btn btn-block border", 
                       data: { 
                        confirm: 'Mark as OK?', 
                         toggle: 'tooltip', 
                          title: 'Mark as OK' } } %>  
              <% else %>
              <%= f.submit 'OK', 
                    { class: "btn btn-primary swipe-btn btn-block border",
                      disabled: true, 
                       data: { 
                        confirm: 'Mark as OK?', 
                         toggle: 'tooltip', 
                          title: 'Mark as OK' } } %>  
              <% end %>           
              <% end %>
            </div>
            <div class="col-3 px-1">
              <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
              <%= f.hidden_field :salt_spray_test_id, value: s.id %>
              <%= f.hidden_field :c_type, value: "WHITE" %>
              <%= f.hidden_field :date, value: DateTime.now %>
              <%= f.hidden_field :user_id, value: @current_user.id %>
              <% if s.salt_spray_test_checks.where(:c_type => 'WHITE').blank? %>
              <%= f.submit 'White', 
                      { class: "btn swipe-btn btn-block border", 
                       data: { 
                        confirm: 'Mark as WHITE?', 
                         toggle: 'tooltip', 
                          title: 'Mark as WHITE' } } %>
              <% else %>
              <%= f.submit 'White', 
                      { class: "btn swipe-btn btn-block border",
                        disabled: true, 
                       data: { 
                        confirm: 'Mark as WHITE?', 
                         toggle: 'tooltip', 
                          title: 'Mark as WHITE' } } %>
              <% end %>             
              <% end %> 
            </div>
            <div class="col-3 px-1">
              <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
              <%= f.hidden_field :salt_spray_test_id, value: s.id %>
              <%= f.hidden_field :c_type, value: "RED" %>
              <%= f.hidden_field :date, value: DateTime.now %>
              <%= f.hidden_field :user_id, value: @current_user.id %>
              <% if s.salt_spray_test_checks.where(:c_type => 'RED').blank? %>
              <%= f.submit 'Red', 
                      { class: "btn btn-danger swipe-btn btn-block border", 
                       data: { 
                        confirm: 'Mark as RED?', 
                         toggle: 'tooltip', 
                          title: 'Mark as RED' } } %>
              <% else %>
              <%= f.submit 'Red', 
                      { class: "btn btn-danger swipe-btn btn-block border", 
                        disabled: true,
                       data: { 
                        confirm: 'Mark as RED?', 
                         toggle: 'tooltip', 
                          title: 'Mark as RED' } } %>
              <% end %>
              <% end %> 
            </div>
            <div class="col-3 px-1">
              <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
              <%= f.hidden_field :salt_spray_test_id, value: s.id %>
              <%= f.hidden_field :c_type, value: "OFF" %>
              <%= f.hidden_field :date, value: DateTime.now %>
              <%= f.hidden_field :user_id, value: @current_user.id %>
              <% if s.salt_spray_test_checks.where(:c_type => 'OFF').blank? %>
              <%= f.submit 'Off', 
                      { class: "btn btn-success swipe-btn btn-block border", 
                       data: { 
                        confirm: 'Mark as OFF?', 
                         toggle: 'tooltip', 
                          title: 'Mark as OFF' } } %> 
              <% else %>
              <%= f.submit 'Off', 
                      { class: "btn btn-success swipe-btn btn-block border",
                        disabled: true, 
                       data: { 
                        confirm: 'Mark as OFF?', 
                         toggle: 'tooltip', 
                          title: 'Mark as OFF' } } %> 
              <% end %>
              <% end %>  
            </div>
          </div>        
        </div>
      </div>
    </div>

    <%# Info collapsable %>
    <% specs = format_spec(s) %>
    <div class="collapse bg-white" id="collapseInfo<%=s.id%>">
      <div class="card-header bg-white py-4">
        <div class="container-flex">
          <div class="progress bg-dark" style="height: 40px;">
            <%# 75% is actually 100% %>
            <div class="bar-step clearfix" style="left: 75%; overflow:hidden;">
                <div class="label-txt">
                  Red
                  <div class="label-line"></div>
                </div>
                <% x = s.salt_spray_test_checks.where(:c_type => 'RED') %>
                <% if x.blank? %>
                  <div class="label-percent"><%= specs[1] %></div>
                <% elsif (x.first.date - s.created_at)/60.minutes < s.red_spec %>
                  <span class="label-percent text-danger"><%= fa_icon("times") %></span>
                <% else %>
                  <span class="label-percent text-success"><%= fa_icon("check") %></span>
                <% end %>
            </div>
            <div class="bar-step clearfix" style="left: <%= 75*s.white_spec / s.red_spec %>%">
                <div class="label-txt">
                  White
                  <div class="label-line"></div>
                </div>
                <div class="label-percent">
                  <% x = s.salt_spray_test_checks.where(:c_type => 'WHITE') %>
                  <% if x.blank? %>
                    <%= specs[0] %>
                  <% elsif (x.first.date - s.created_at)/60.minutes < s.white_spec %>
                    <span class="label-percent text-danger"><%= fa_icon("times") %></span>
                  <% else %>
                    <span class="label-percent text-success"><%= fa_icon("check") %></span>
                  <% end %>
                </div>
            </div>
            <% last = s.salt_spray_test_checks.last unless s.salt_spray_test_checks.blank? %>
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width:<%= (((last.date - s.created_at)/60.minutes) / s.red_spec)*100 %>%;">
            <strong style="font-size: 25px; position: absolute; z-index: 4;" class="text-warning ml-2">
              <% if specs[3] == 'day' %>
              <%= pluralize((((last.date - s.created_at)/24.hours).round ), specs[3])unless s.salt_spray_test_checks.blank? %>
              <% else %>
              <%= pluralize((((last.date - s.created_at)/60.minutes).round ), specs[3])unless s.salt_spray_test_checks.blank? %>
              <% end %>
            </strong>
            </div>
          </div>
        </div>
	    </div>
      <div class="card-body bg-white py-0">
        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info<%=s.id%>" role="tab" aria-controls="info" aria-selected="true">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history<%=s.id%>" role="tab" aria-controls="history" aria-selected="false">History</a>
          </li>
        </ul>
        <div class="card-text">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="info<%=s.id%>" role="tabpanel" aria-labelledby="info-tab">
              <div class="text-center"><u><%= s.so_num %> Info</u></div>
               <div class="float-right text-center border px-1 py-1 mb-0">
                <% if s.process.blank? %>
                  No process entered.
                <% else %>
                  <u>Process</u><br>
                  <% s.process.each_with_index do |k,p| %>
                    <%= k %>
                    <% if p == s.process.count-1 %>
                    <% else %>
                    <br> 
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <ul style="list-style-type:none; padding-inline-start: 0px;">
                <li>Customer: <%= s.customer %></li>
                <li>Dept: <%= s.dept %></li>
                <li>Part ID: <%= s.part_tag %></li>
                <li>Sub ID: <%= s.sub_tag %></li>
                <li>Part Area: <%= s.part_area %></li>
                <li>Density: <%= s.part_density %></li>
                <li>Load Weight: <%= s.load_weight %></li>
                <li>White Spec: <%= specs[0] %></li>
                <li>Red Spec: <%= specs[1]%></li>
              </ul>
              <br>
              <hr>
            </div>
            <div class="tab-pane fade" id="history<%=s.id%>" role="tabpanel" aria-labelledby="history-tab">
              <div class="text-center"><strong><u>History</u></strong></div>
              <% x = s.salt_spray_test_checks.in_groups(2, false ) %>
                <div class="row">
                <% x.each do |g| %>
                  <div class="col-6">
                  <% g.each do |c| %>
                    <%= c.c_type %> - <%= c.date.strftime("%D") unless c.date.blank? %>
                    <br>
                  <% end %>
                  </div>
                <% end %>
                </div>
              <hr>
            </div>
          </div>    
        </div>
      </div>
    </div>

    <%# Comments collapsable %>
    <div class="collapse bg-white" id="collapseComments<%=s.id%>">
      <div class="card-header bg-white">
        <%= render partial: 'comments/comment_form', locals: { :commentable => s }%>
      </div>
      <div class="card-body py-0">           
        <div class="collapse" id="collapseCommentsList<%=s.id%>">
          <%= render partial: 'comments/comment_list', locals: { :commentable => s }%>
        </div>
      </div>
    </div>
  </div>
</li>
<% end %>
</ul>

<script type="text/javascript">
$(".carousel").on("touchstart", function(event){
        var xClick = event.originalEvent.touches[0].pageX;
    $(this).one("touchmove", function(event){
        var xMove = event.originalEvent.touches[0].pageX;
        if( Math.floor(xClick - xMove) > 7 ){
            $(this).carousel('next');
        }
        else if( Math.floor(xClick - xMove) < -7 ){
            $(this).carousel('prev');
        }
    });
    $(".carousel").on("touchend", function(){
            $(this).off("touchmove");
    });
});
</script>
