<ul class="px-0 py-0" style="list-style-type:none;">
  <% @salt_spray_tests.each do |s| %>
  <li>
    <div class="card fluid">
      <div id="carouselExample<%=s.id%>" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <div class="card-header carousel-item active py-2">
            <div class="form-row mb-0">
              <div class="col-4">
                <%= process_badge(s) %>
              </div>
              <div class="col-4">
                <%= title(s) %>
                <p class="text-muted text-center mb-0" style="font-size: 16px;"> Load: <%= s.load_num %></p>
                <p class="text-center text-muted "><%= s.created_at.strftime("%D")%></p>
              </div>
              <div class="col-4">
                <button class="accord info btn btn-block float-right " style="background-color: #DDDDDD; border-color: #dee2e6;" type="button" data-toggle="collapse" data-target="#collapseInfo<%=s.id%>" style="font-size: 11px;">
                <%= fa_icon('info')%>
                </button>
                <button class="accord btn btn-block float-right"  type="button" style="background-color: #DDDDDD; border-color: #dee2e6;" data-toggle="collapse" data-target="#collapseComments<%=s.id%>" style="font-size: 11px;">
                <%= fa_icon('commenting', text: s.comments.length)%>
                </button>
              </div>
            </div>
          </div>
          <div class="card-header carousel-item" id="carousel_buttons">
            <div class="row">
              <div class="col-3 px-1">
                <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
                <%= f.hidden_field :salt_spray_test_id, value: s.id %>
                <%= f.hidden_field :c_type, value: "OK" %>
                <%= f.hidden_field :date, value: DateTime.now %>
                <%= f.hidden_field :user_id, value: @current_user.id %>
                <%= ok_button(s, f, "block") %>
                <% end %>
              </div>
              <div class="col-3 px-1">
                <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
                <%= f.hidden_field :salt_spray_test_id, value: s.id %>
                <%= f.hidden_field :c_type, value: "WHITE" %>
                <%= f.hidden_field :date, value: DateTime.now %>
                <%= f.hidden_field :user_id, value: @current_user.id %>
                <%= white_button(s, f, "block") %>
                <% end %> 
              </div>
              <div class="col-3 px-1">
                <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
                <%= f.hidden_field :salt_spray_test_id, value: s.id %>
                <%= f.hidden_field :c_type, value: "RED" %>
                <%= f.hidden_field :date, value: DateTime.now %>
                <%= f.hidden_field :user_id, value: @current_user.id %>
                <%= red_button(s, f, "block") %>
                <% end %> 
              </div>
              <div class="col-3 px-1">
                <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
                <%= f.hidden_field :salt_spray_test_id, value: s.id %>
                <%= f.hidden_field :c_type, value: "OFF" %>
                <%= f.hidden_field :date, value: DateTime.now %>
                <%= f.hidden_field :user_id, value: @current_user.id %>
                <%= off_button(s, f, "block") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# Info collapsable %>
      <% specs = format_spec(s) %>
      <div class="collapse bg-white" id="collapseInfo<%=s.id%>">
        <div class="card-header bg-white py-4">
          <%= render partial: 'progress_bar', 
                      locals: { :s => s, 
                            :specs => specs, 
                             :type => "mobile" } %>
        </div>
        <div class="card-body bg-white py-0">
          <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info<%=s.id%>" role="tab" aria-controls="info" aria-selected="true">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="history-tab" data-toggle="tab" href="#history<%=s.id%>" role="tab" aria-controls="history" aria-selected="false">History</a>
            </li>
            <li class="nav-item dropdown" style="margin-left: 60px;">
              <a class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown" >Share</a>
              <div class="dropdown-menu">
                <%= button_to "Send to management.", send_salt_spray_test_path, { class: "dropdown-item", :params => params.merge(:email_management => s.id).to_unsafe_h } %>
                <%= button_to "Send to sales.", send_salt_spray_test_path, { class: "dropdown-item", :params => params.merge(:email_sales => s.id).to_unsafe_h } %>
              </div>
            </li>
          </ul>
          <div class="card-text">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="info<%=s.id%>" role="tabpanel" aria-labelledby="info-tab">
                <div class="text-center">
                <u><strong>
                  <%= sub_title(s) %>
                </strong></u></div>
                <div class="float-right text-center border px-1 py-1 mb-0">
                  <%= process_steps(s) %>
                </div>
                <ul style="list-style-type:none; padding-inline-start: 0px;">
                  <li>Customer: <%= s.customer %></li>
                  <li>Dept: <%= s.dept %></li>
                  <li>Part ID: <%= s.part_tag %></li>
                  <li>Sub ID: <%= s.sub_tag %></li>
                  <li>Part Area: <%= s.part_area %></li>
                  <li>Density: <%= s.part_density %></li>
                  <li>Load Weight: <%= s.load_weight %></li>
                  <li>White Spec: <%= specs[0] %></li>
                  <li>Red Spec: <%= specs[1]%></li>
                </ul>
                <br>
              </div>
              <div class="tab-pane fade" id="history<%=s.id%>" role="tabpanel" aria-labelledby="history-tab">
                <div class="text-center"><strong><u>History</u></strong></div>
                <% x = s.salt_spray_test_checks.in_groups(2, false ) %>
                  <div class="row">
                  <% x.each do |g| %>
                    <div class="col-6">
                    <% g.each do |c| %>
                      <%= badge(c.user) %>
                      <%= c.date.strftime("%D") %>
                      <%= c.c_type %>
                      <br>
                    <% end %>
                    </div>
                  <% end %>
                  </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
      <%# Comments collapsable %>
      <div class="collapse bg-white" id="collapseComments<%=s.id%>">
        <div class="card-body py-2 px-1">           
          <%= render partial: 'comments/comment_combo', 
                      locals: { :s => s }%>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<script type="text/javascript">
$(".carousel").on("touchstart", function(event){
    var xClick = event.originalEvent.touches[0].pageX;
    $(this).one("touchmove", function(event){
        var xMove = event.originalEvent.touches[0].pageX;
        if( Math.floor(xClick - xMove) > 7 ){
            $(this).carousel('next');
            $(this).find('.info').click();
        }
        else if( Math.floor(xClick - xMove) < -7 ){
          $(this).carousel('prev');
        }
    });
    $(".carousel").on("touchend", function(){
            $(this).off("touchmove");
    });
});
jQuery('.accord').click( function(e) {
    jQuery('.collapse').collapse('hide');
});
</script>


