<div class="container-flex" style="position: relative;">
  <div class="progress bg-dark mr-1 ml-1" style="height: 40px;">
    <%# 75% is actually 100% %>
    <%= is_desktop(s, type) %>
    <%= red_bar_step(s, specs) %>
    <%= white_bar_step(s, specs) %>
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width:<%= (((Time.now() - s.created_at)/60.minutes).to_f / s.red_spec)*75 %>%;">
      <strong style="font-size: 27px; position: absolute; z-index: 4;" class="text-warning ml-1">
        <% if specs[3] == 'day' %>
          <%= pluralize((((Time.now() - s.created_at)/24.hours).round ), specs[3])unless s.salt_spray_test_checks.blank? %>
        <% else %>
          <%= pluralize((((Time.now() - s.created_at)/60.minutes).round ), specs[3])unless s.salt_spray_test_checks.blank? %>
        <% end %>
      </strong>
    </div>
  </div>
</div>