<tr>
  <% specs = format_spec(s) %>
  <%# Shop Order %>
  <td class="d-md-table-cell d-xs-none" style="white-space: nowrap; overflow: hidden;">
    <div class="row">
      <div class="col-12">
        <div style="width: 40%;">
          <%= process_badge(s) %>
        </div>
        <strong class="pull-left" style="font-size: 20px;">
          <%= sub_title(s) %>
        </strong>
        <br>
        <div class="text-muted">
          Load: <%= s.load_num %>
          <br>  
          Dept: <%= s.dept %>
        </div>
        <div class="pull-left">
          <%= s.customer %> - 
          <%= s.part_tag %> 
          <%= s.sub_tag unless s.sub_tag.blank? %>
        </div>
      </div>  
    </div>
  </td>
  <%# Part %>
  <td class="d-none d-lg-table-cell">
    <div class="row">
      <div class="col-12">
        Part Area:   <%= s.part_area unless s.part_area.blank? %><br>
        Density:     <%= s.part_density unless s.part_density.blank?%><br>
        Load Weight: <%= s.load_weight unless s.load_weight.blank?%><br>
      </div>
    </div>
  </td>
  <%# Process %>
  <td class="d-none d-lg-table-cell">
    <%= process_steps(s) %>
  </td>
  <%# User %>
  <td class="d-none d-lg-table-cell">
    <small><strong>By:</small></strong>
    <%= User.find(s.user_id).full_name unless s.user_id.blank? %><br>
    <small><strong>On:</small></strong>
    <%= s.salt_spray_test_checks.first.date.strftime("%D") unless s.salt_spray_test_checks.blank? %><br>
    White Spec:  <%= specs[0] %><br>
    Red Spec:    <%= specs[1] %>
  </td>
  <%# Progress %>
  <td class="d-md-table-cell d-xs-none">
    <div class="mt-4">
      <div class="container-flex" style="position: relative;">
        <div class="progress bg-dark mr-1 ml-1" style="height: 40px;">
          <%# 75% is actually 100% %>
          <%= progress_bar_is_desktop(s, "desktop") %>
          <%= progress_bar_labels(s, specs) %>
          <%# progress_bar_white_label(s, specs) %>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width:<%= (((Time.now() - s.created_at)/60.minutes).to_f / s.red_spec)*75 %>%;">
            <strong style="font-size: 27px; position: absolute; z-index: 4;" class="text-warning ml-1">
              <%= progress_bar_main_label(s, specs)%>
            </strong>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-2 collapse checks-collapse<%=s.id%>">
      <% x = s.salt_spray_test_checks.in_groups(2, false) %>
      <div class="row">
        <% x.each do |g| %>
          <div class="col-6">
            <% g.each do |c| %>
              <%= badge(c.user) %>
              <%= c.date.strftime("%D") %>
              <%= c.c_type %>
              <br>
            <% end %> 
          </div>
        <% end %>
      </div>
    </div>
  </td>
  <%# Links %>
  <td class="px-0 text-center align-middle">
    <div class="btn-group-vertical " role="group">
      <div class="dropleft text-center" data-boundary="viewport">
        <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="width: 50px;"><%= fa_icon('check-square-o')%></button>
        <div class="dropdown-menu" data-boundary="viewport">
          <%# OK %>
          <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
            <%= f.hidden_field :salt_spray_test_id, value: s.id %>
            <%= f.hidden_field :c_type, value: "OK" %>
            <%= f.hidden_field :date, value: DateTime.now %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= button(s, f, "dropdown", "OK")%>  
          <% end %>
          <%# WHITE %>
          <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
            <%= f.hidden_field :salt_spray_test_id, value: s.id %>
            <%= f.hidden_field :c_type, value: "WHITE" %>
            <%= f.hidden_field :date, value: DateTime.now %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= button(s, f, "dropdown", "WHITE") %>            
          <% end %> 
          <%# RED %>
          <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
            <%= f.hidden_field :salt_spray_test_id, value: s.id %>
            <%= f.hidden_field :c_type, value: "RED" %>
            <%= f.hidden_field :date, value: DateTime.now %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= button(s, f, "dropdown", "RED") %>
          <% end %>
          <%# OFF %> 
          <%= form_for [s, @check], url: salt_spray_test_salt_spray_test_checks_path(salt_spray_test_id: s.id) do |f| %>
            <%= f.hidden_field :salt_spray_test_id, value: s.id %>
            <%= f.hidden_field :c_type, value: "OFF" %>
            <%= f.hidden_field :date, value: DateTime.now %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= button(s, f, "dropdown", "OFF") %>
          <% end %>
        </div>
      </div>
      <button class="btn btn-sm btn-dark" style="margin-top: -3px;" type="button" data-toggle="modal" data-target="#modalComments<%=s.id%>">
          <%= fa_icon('commenting', text: s.comments.length)%>
      </button>
      <div class="dropleft text-center" role="button">
        <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="margin-top: -3px; width: 50px;"><%= fa_icon('share-alt')%></button>
        <div class="dropdown-menu">
          <%= button_to "Send to management.", send_salt_spray_test_path, { class: "dropdown-item", :params => params.merge(:email_management => s.id).to_unsafe_h } %>
          <%= button_to "Send to sales.", 
                  send_salt_spray_test_path, { class: "dropdown-item", :params => params.merge(:email_sales => s.id).to_unsafe_h } %>
        </div>
      </div>
      <%= link_to fa_icon('pencil'),
          edit_salt_spray_test_path(s),
          class: 'font-weight-bold btn btn-sm btn-dark',
          style: 'margin-top: -3px;',
          title: 'Edit Salt Spray Test',
          data: { toggle: 'tooltip' } %>
    </div>
  </td>
</tr>