<%= form_for @salt_spray_test do |f| %>
<div class="container-fluid border p-2 mt-3">
  <u>Manual Entry</u>

  <div class='form-row mt-2 mb-0'>

    <div class="col-12 col-md-6  col-lg-6 col-xl-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Customer: </span>
          </div>
          <%= f.text_field :customer, { class: "form-control" } %>
          <div class="invalid-feedback text-center">
            Customer required.
          </div>
        </div>
      </div>
       <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Process Code: </span>
          </div>
          <%= f.select :process_code, options_for_select(SaltSprayTest.options_for_process_code, @salt_spray_test.process_code), {},  { class: "form-control" } %>
          <div class="invalid-feedback text-center">
            Process Code required.
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> White Spec: </span>
          </div>
          <%= f.number_field :white_spec, class: "form-control" %>
          <div class="invalid-feedback text-center">
            White Spec required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Red Spec: </span>
          </div>
          <%= f.number_field :red_spec, class: "form-control" %>
          <div class="invalid-feedback text-center">
            Red Spec required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="form-row mt-4">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Load Weight: </span>
          </div>
          <%= f.number_field :load_weight, class: "form-control", :step => 0.0001 %>
          <div class="invalid-feedback text-center">
            Load Weight required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Area: </span>
          </div>
          <%= f.number_field :part_area, class: "form-control", :step => 0.0001  %>
          <div class="invalid-feedback text-center">
            Area required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Density: </span>
          </div>
          <%= f.number_field :part_density, class: "form-control", :step => 0.0001  %>
          <div class="invalid-feedback text-center">
            Density required.
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Department: </span>
          </div>
          <%= f.select :dept, options_for_select(ShiftNote.options_for_dept), {}, { class: "form-control" } %>
          <div class="invalid-feedback text-center">
            Department required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Part #: </span>
          </div>
          <%= f.text_field :part_tag, { class: "form-control" } %>
          <div class="invalid-feedback text-center">
            Part # required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> Sub: </span>
          </div>
          <%= f.text_field :sub_tag, { class: "form-control" } %>
        </div>
      </div>

    </div>  
  </div>

</div>
<div class="btn-group" role="group">
  <%= link_to fa_icon('arrow-left'),
                      salt_spray_tests_path,
                      method: :get,
                      class: 'font-weight-bold btn btn-sm btn-secondary',
                      title: 'Back' %>
  <%= f.submit "Save", class: "btn btn-primary"%>
</div>
<% end %>