<% week_recs = records_to_weeks(records) %>
<% week_totals = calc_week_totals(week_recs) %>
<% count = 0 %>
<% records.each do |r| %>
  <% if r.record_type == "Holiday" %>
  <% else %>
    <% count = count + 1 %>
  <% end %>
<% end %>
<tr class="
  <% if count % 2 == 0 %>
    ">
  <% else %>
  bg-warning">
  <% end %>
  <td colspan="1" class="text-right align-middle"><%= number_with_precision(week_totals.sum, precision: 2) %></td>
  <td colspan="1" class="align-middle">
    <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#collapse<%=user%>">
      <%= fa_icon("calendar") %>
    </button>
  </td>
  <td><%= User.find(user).full_name %></td>
</tr>
<tr class="collapse out" id ="collapse<%=user%>">
  <td colspan="12" class="align-middle">
    <div class="form-row">
    <% week_recs.each do |day_recs| %>
      <div class="col text-center">
        <%= day_recs[0] %><br>
        <u><%= day_recs[1] %></u><br>
        <% day_recs.slice!(0,2) %>
        <% day_recs.each do |rec| %>
        <span class="text-dark badge d-block my-1 mx-1" data-toggle="modal" data-target="#modal<%= rec.id %>" style=" cursor: pointer; background-color:
          <% if rec.record_type == "Start Work" %>
            #dff0d8;">
          <% elsif  rec.record_type == "Start Break" %>
            #cceeff;">
          <% elsif rec.record_type == "End Break" %>
            #f6e7a3;">
          <% elsif rec.record_type == "End Work" %> 
            #f2dede;">
          <% elsif rec.record_type == "Holiday" %> 
            #f8f9fa;">
          <% else %>
          ;">
          <% end %>
            <% if rec.clock_edit.blank? %>
            <% else %>
            *
            <% end %>
            <%= rec.record_type %><br>
            <%= rec.timestamp.strftime("%I:%M %p")%><br>
          </span>
        <% end %>
      </div>
    <% end %>
    <div class="w-100"><hr class="mb-1 mt-1"></div>
    <% week_recs.each_with_index do |day_recs, i|%>
      <div class="col text-center"><%= number_with_precision(week_totals[i], precision: 2) %></div>
    <% end %>
  </td>
</tr>

<% week_recs.each do |day_recs| %>
  <% day_recs.each do |record| %>

    <% if record.clock_edit.blank? %>
      <% @clock_edit = Timeclock::ClockEdit.new %>
      <% @clock_edit.clock_record = Timeclock::ClockRecord.find(record.id) %>
    <% else %>
      <% @clock_edit = record.clock_edit %>
    <% end %>

      <div class="modal fade" id="modal<%=record.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_for @clock_edit do |form| %>
            <div class="modal-body">
              <%= form.hidden_field :clock_record_id, value: record.id %>
              <%= form.datetime_field :clock_record_timestamp, class: "form-control" %>
              <%= form.select :clock_record_record_type, options_for_select(Timeclock::ClockRecord.options_for_record_type, record.record_type), {}, { class: "form-control" }  %>
              <%= form.select :reason_id, Timeclock::ReasonCode.all.collect { |rc| [rc.description, rc.id] }, {}, { class: "form-control" } %>
              <%= form.text_area :note, id: :clock_edit_note, class: "form-control" %>
              <%= form.hidden_field :user_id, value: @current_user.id  %>
              <%= form.hidden_field :ip_address, value: request.remote_ip %>
              <%= link_to 'Destroy', record, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= form.submit "Submit", class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    

  <% end %>
<% end %>