<div class="card text-center btn-block">
  <div class="card-header bg-dark text-white">
    <strong><%= record.timestamp.strftime("%I:%M%P")%></strong>
  </div>
  <div class='card-body text-light <%= Timeclock.color_options["#{record.record_type}"] %>'>
    <h6 class="card-title text-center"><%= record.record_type %> </h6>
    <p class="card-text text-center">
    </p>
  </div>
    <ul class="list-group list-group-flush">
      <% if record.clock_edit.blank? %>
      <li class="list-group-item bg-secondary text-white">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= record.id %>">
            Edit
          </button>
      </li>
      <% else %>
        <li class="list-group-item bg-secondary text-white"><u>Edit</u>: <%=Timeclock::ReasonCode.find(record.clock_edit.reason_id).description %>
        </li>

        <li class="list-group-item bg-secondary text-white"><%=record.clock_edit.note%>
        </li>
          <footer class="blockquote-footer p-1 text-white bg-secondary"> Edited by: <%= User.find(record.clock_edit.user_id).initials %> @
          <%= record.clock_edit.updated_at.strftime("%I:%M%P %m/%d/%y") %>
          </footer>

        
        <li class="list-group-item bg-secondary"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= record.id %>">Edit</button>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="myModal<%= record.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        Edit Record
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <% if record.clock_edit.blank? %>
            <% @clock_edit = Timeclock::ClockEdit.new %>
            <% @clock_edit.clock_record = Timeclock::ClockRecord.find(record.id) %>
            <%= render partial: 'timeclock/clock_edits/form', locals: { :rid => record.id } %>
          <% else %>
            <% @clock_edit = record.clock_edit %>
            <%= render partial: 'timeclock/clock_edits/form', locals: { :rid => record.id } %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>