<div class="row mt-4">
  <%= link_to fa_icon("step-backward", text: "Back"), root_path, class: "text-dark ml-3 mt-2 align-middle" %>
  <% provide(:title, 'Payroll Periods') %>
  <div class="col">
    <h3 class="mb-0">Payroll Periods</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="col-1">Finalized?</th>
          <th class="col-1 text-right">Records</th>
          <th class="col-9">Date Range</th>
          <th class="col-1 text-center align-middle"></th>
        </tr>
      </thead>
      <tbody>
        <% Timeclock::ClockPeriod.all.each do |period| %>
        <tr>
          <td class="text-center text-light 
            <%= !period.finalized? ? 'bg-danger' : 'bg-success'%>">
              <%= !period.finalized? ? 
                (fa_icon ["times", "1x"]) : (fa_icon ["check", "2x"]) %>
          </td>
          <td class="text-right"><%= period.clock_records.count %></td>
          <td><%= period.start_date.strftime("%m/%d/%y") %> - 
              <%= period.end_date.strftime("%m/%d/%y") %>
          </td>
          <td class="text-center">
            <div class="btn-group-vertical", role="group">
                <%= link_to fa_icon('eye'),
                    timeclock_clock_period_path(period),
                    class: 'font-weight-bold btn btn-sm btn-success',
                    title: 'View Clock Period',
                    data: { toggle: 'tooltip' } %>
              </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


