<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
  <div class="card mb-3<%= ' bg-warning' if user.is_disabled %>">
    <div class="card-header">
      <% if user.is_admin %>
        <strong class="text-danger text-uppercase small font-weight-bold pull-right">admin</strong>
      <% end %>
      <small class="text-muted"><%= user.employee_number %></small>
      <strong><%= user.full_name %></strong>
      <span class="badge badge-pill" style="color: <%= user.avatar_text_color %>; background-color: <%= user.avatar_bg_color %>;"><%= user.initials %></span>
    </div>
    <div class="card-body">
      <% if user.nickname != user.first_name %>
        <%= small_label_bold_text 'Goes By', user.nickname %>
        <br />
      <% end %>
      <%= small_label_bold_text 'Email', link_to(user.email, "mailto:#{user.email}") %>
      <br />
      <%= small_label_bold_text 'System i Username', "<code>#{user.username}</code>" %>
    </div>
    <div class="card-footer">
      <%= form_for user, html: { class: 'd-inline-block' } do |f| %>
        <%= f.hidden_field :is_disabled,
                          value: !user.is_disabled %>
        <%= f.button (user.is_disabled ? fa_icon('check', text: 'Enable') : fa_icon('times-circle', text: 'Disable')),
                    class: "btn btn-#{user.is_disabled ? 'success' : 'danger'} btn-sm font-weight-bold pt-0 pb-0 pl-1 pr-1",
                    type: 'submit',
                    data: { confirm: "Are you sure you want to #{user.is_disabled ? 'enable' : 'disable'} #{user.nickname}?" } %>
      <% end %>
      <%= link_to fa_icon('times-circle', text: 'Edit'), edit_user_path(user), class: 'btn btn-sm pt-0 pb-0 pl-1 pr-1 btn-primary font-weight-bold' %>
    </div>
  </div>
</div>