<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= content_tag :span, 'VMS', class: 'navbar-brand' %>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#vmsNavContent"
          aria-controls="vmsNavContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-between"
       id="vmsNavContent">
    <ul class="navbar-nav">
      <%= nav_link 'vms', 'home', 'home', root_url %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Applications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Department Info', dept_info_path, 
            class: "dropdown-item" %>
            <%= link_to 'Scheduled Tasks', maintenance_scheduled_task_status_path, class: "dropdown-item" %>
            <%= link_to 'Specifications', specifications_path, 
            class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
            <%= link_to 'Jobs on Receipt', queries_receipts_path, 
            class: "dropdown-item" %>
            <%= link_to 'Promise List', queries_promise_list_path, 
            class: "dropdown-item" %>
            <%= link_to 'Prop 65 (Broken Link)', '#', 
            class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
            <%= link_to 'Opto Logs', opto_logs_path, 
            class: "dropdown-item" %>
            <%= link_to 'Thickness Readings', thickness_path, 
            class: "dropdown-item" %>
            <%= link_to 'Vat History Notes', materials_vat_history_notes_path, 
            class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
            <%= link_to 'Shift Notes', shift_notes_path, 
            class: "dropdown-item" %>
            <%= link_to 'Timeclock', timeclock_path, 
            class: "dropdown-item" %>
            <%= link_to 'Print Job Rules', print_queue_print_job_rules_path, 
            class: "dropdown-item" %>
        </div>
    </li>
    </ul>
    <% unless @current_user.nil? %>
      <ul class="navbar-nav">
        <% if @current_user.is_admin %>
          <li class="nav-item dropdown dropdown-right">
            <a class="nav-link dropdown-toggle p-1"
              href="#" id="adminDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <%= fa_icon 'cogs 2x' %>
            </a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
              <%= link_to 'Manage Users', admin_users_url, class: 'dropdown-item' %>
              <%= link_to 'Manage Permissions', admin_permissions_url, class: 'dropdown-item' %>
            </div>
          </li>
        <% end %>
        <%= nav_link 'sessions', 'destroy', 'sign-out', logout_path, :delete %>
      </ul>
    <% end %>
</nav>