<% provide(:title, "#{params[:action].titleize unless params[:action] == 'index'} Specifications") %>
<div class="row mt-3">
  <div class="col">
    <h3 class="mb-0"><%= "#{params[:action].titleize} " unless params[:action] == 'index' %>Specifications <%= @access_level %></h3>
    <%
      links = []
      case params[:action]
      when 'archived'
        links << link_to('Current Specifications', specifications_path)
        if @access_level >= 3
          links << link_to('Deleted Specifications', deleted_specifications_path)
        end
      when 'deleted'
        links << link_to('Current Specifications', specifications_path)
        if @access_level >= 2
          links << link_to('Archived Specifications', archived_specifications_path)
        end
      else
        if @access_level >= 2
          links << link_to('Archived Specifications', archived_specifications_path)
        end
        if @access_level >= 3
          links << link_to('Deleted Specifications', deleted_specifications_path)
        end
      end
    %>
    <%= '<p>Go to:'.html_safe if links.size > 0 %>
    <%= links.join(' &bull; ').html_safe %>
    <%= '</p>'.html_safe if links.size > 0 %>
  </div>
</div>
<div class="row mt-3">
  <div class="col" id="filter_form">
    <%= render partial: 'filter_form', locals: { specifications: @unpaged_specifications } %>
  </div>
</div>
<div class="row mt-3" id="specifications">
  <%= render partial: 'list', locals: { specifications: @specifications,
                                        term: params[:with_search_term] } %>
</div>