<p>
    <%= link_to "Link to note", "http://vms.varland.com/shift_notes/#{@commentable.id}" %><br>
    <strong>On:</strong>
    <u><%= @commentable.created_at.strftime('%m/%d/%y') %></u>
    <strong>By:</strong>
    <u><%= @commentable.user.full_name %></u><br>

    <strong>Shift Time:</strong>
    <u><%= @commentable.shift_time %></u>
    <strong>Shift Type:</strong>
    <u><%= @commentable.shift_type %></u><br>

    <strong>Dept:</strong>
    <u><%= @commentable.dept %></u>
    <br>
</p>
<hr>
<p>
    <strong>Note:</strong>
    <%= sanitize @commentable.message %>
</p>
<hr>
<% if @commentable.comments.empty? %>
<% else %>
    <strong>Comments:</strong><br>
    <% @commentable.comments.each do |c| %>
        <i><sub><%= c.created_at.strftime('%m/%d/%y') %> </i></sub>
        <% if c.user.blank? %> 
            &nbsp;
        <% else %> 
            <span class="badge badge-pill badge-info">
            <%= c.user.initials %> </span>
        <% end %>
        <%= sanitize c.body %>
        <br>
        <% if c.attachment? %>
            Attachments:
            <%= image_tag attachments[c.attachment.instance_variable_get('@file').filename].url %>
        <% end %>
        <hr>
    <% end %>
<% end %>
