<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="w-50">Scheduled Task</th>
      <th class="w-25">Equipment</th>
      <th class="w-25">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% scheduled_task_statuses.each do |status| %>
      <tr>
        <td>
          <strong><%= status.scheduled_task_description %></strong><br />
          <small class="text-muted">Frequency:</small> <strong>Every <%= pluralize status.scheduled_task_frequency, 'Day' %></strong><br />
          <small class="text-muted">Task:</small> <abbr class="font-weight-bold" title="<%= status.task_description %>"><%= status.task_name %></abbr>
          <% unless status.task_url.blank? %>
            <small><%= link_to fa_icon('external-link'), status.task_url, target: '_blank' %></small>
          <% end %>
        </td>
        <td>
          <small class="text-muted">ID:</small> <strong><%= status.equipment_name %></strong><br />
          <small class="text-muted">Type:</small> <abbr class="font-weight-bold" title="<%= status.equipment_type_description %>"><%= status.equipment_type_name %></abbr>
        </td>
        <td class="<%= status.past_due? ? 'table-danger' : nil %>">
          <small class="text-muted">Due:</small> <strong><%= status.due_date.strftime '%m/%d/%y' %></strong>
          <small class="<%= status.past_due? ? 'text-danger font-weight-bold' : 'text-success' %>">
            (<%= distance_of_time_in_words status.due_date, Date.today %> <%= status.days_until_due < 0 ? 'ago' : 'from today' %>)
          </small>
          <% unless status.last_maintenance_date.blank? %>
            <br /><small class="text-muted">Last Time Done:</small>
            <strong>
              <%= status.last_maintenance_date.strftime '%m/%d/%y' %>,
              <%= status.last_maintenance_initials %>,
              <abbr title="<%= status.code_description %>"><%= status.code_name %></abbr>
            </strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>