<%= form_with(model: print_job_rule, local: true) do |form| %>
  <% if print_job_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(print_job_rule.errors.count, "error") %> prohibited this print_job_rule from being saved:</h2>

      <ul>
      <% print_job_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group m-3">
  <div class="row">
    <div class="col text-center">
      Var1
    </div>
    <div class="col text-center">
      Operator
    </div>
    <div class="col text-center">
      Var2
    </div>
    <div class="w-100"></div>
    <div class="col">
      <%= form.select :var1_type, options_for_select(PrintQueue::PrintJobRule.options_for_var_type, @print_job_rule.var1_type),{}, {class: "form-control", id: "print_job_rule_var1_type"} %>
    </div>
    <div class="col">
      <%= form.select :op_is_logic, options_for_select([['Logic','1'],['Compare', '0']], @print_job_rule.op_is_logic),{}, { id: "print_job_rule_op_is_logic", class: "form-control"} %>
    </div>
    <div class="col">
      <%= form.select :var2_type, options_for_select(PrintQueue::PrintJobRule.options_for_var_type, @print_job_rule.var2_type),{}, {class: "form-control", id: "print_job_rule_var2_type" } %>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div id="var1_value">
        <%= form.text_field :var1, id: "var1_value_select", class: "form-control" %>
      </div>
      <div id="var1_variable" style="display: none">
        <%= form.select :var1, options_for_select(PrintQueue::PrintJobRule.options_for_variables), {}, { id: "var1_variable_select", disabled: true, class: "form-control" }%>
      </div>
      <div id="var1_rule" style="display: none">
        <%= form.select :var1, options_for_select(PrintQueue::PrintJobRule.all.collect { 
            |pj| ["#{pj.var1} #{pj.operator} #{pj.var2}", pj.id] }),{},{id: "var1_rule_select", disabled: true, class: "form-control"} %>
      </div>
    </div>
    <div class="col">
      <div id="operator_logic" >
        <%= form.select :operator, options_for_select(PrintQueue::PrintJobRule.options_for_operator_logic, @print_job_rule.operator),{ :include_blank => true }, { id: "operator_logic_select", class: "form-control" } %>
      </div>
      <div id="operator_compare" style="display: none">
        <%= form.select :operator, options_for_select(PrintQueue::PrintJobRule.options_for_operator_compare, @print_job_rule.operator),{ include_blank: true }, { id: "operator_compare_select", disabled: true, class: "form-control" } %>
      </div>
    </div>
    <div class="col">
      <div id="var2_value">
      <%= form.text_field :var2, id: "var2_value_select", class: "form-control" %>
      </div>
      <div id="var2_variable" style="display: none">
        <%= form.select :var2, options_for_select(PrintQueue::PrintJobRule.options_for_variables),{}, { id: "var2_variable_select", disabled: true, class: "form-control" } %>
      </div>
      <div id="var2_rule" style="display: none">
        <%= form.select :var2, options_for_select(PrintQueue::PrintJobRule.all.collect { 
            |pj| ["#{pj.var1} #{pj.operator} #{pj.var2}", pj.id] }), {}, {id: "var2_rule_select", disabled: true, class: "form-control"} %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="form-group m-3">
  <div class="row">
    <div class="col text-center">
      Option Flag
    </div>
    <div class="col text-center">
      Option Value
    </div>
    <div class="w-100"></div>
    <div class="col">
      <%= form.select :option_flag, options_for_select(PrintQueue::PrintJobRule.options_for_option_flag, @print_job_rule.option_flag), { include_blank: true}, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.text_field :option_value, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
    </div>
    <div class="col text-center">
      Priority
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
      <%= form.submit class: "btn btn-block btn-primary" %>
    </div>
    <div class="col text-center">
      <%= form.select :priority, options_for_select( PrintQueue::PrintJobRule.options_for_priority ,@print_job_rule.priority),{}, class: "form-control" %>
    </div>
  </div>
</div>


    

    

  <script type="text/javascript">
    var opislogic = document.getElementById('print_job_rule_op_is_logic');
    var compare_div = document.getElementById('operator_compare');
    var logic_div = document.getElementById('operator_logic');
    opislogic.onchange = function() {
      if(this.value == "1") {
        logic_div.style['display'] = 'block';
        document.getElementById('operator_logic_select').disabled = false;
        compare_div.style['display'] = 'none';
        document.getElementById('operator_compare_select').disabled = true;
      } else {
        logic_div.style['display'] = 'none';
        document.getElementById('operator_logic_select').disabled = true;
        compare_div.style['display'] = 'block';
        document.getElementById('operator_compare_select').disabled = false;
      }
    };
  </script>

  <script type="text/javascript">
    var var1type = document.getElementById('print_job_rule_var1_type');
    var value1_div = document.getElementById('var1_value');
    var variable1_div = document.getElementById('var1_variable');
    var rule1_div = document.getElementById('var1_rule');

    var1type.onchange = function() {
      if(this.value == "0") {
        value1_div.style['display'] = 'block';
        document.getElementById('var1_value_select').disabled = false;
        variable1_div.style['display'] = 'none';
        document.getElementById('var1_variable_select').disabled = true;
        rule1_div.style['display'] = 'none'
        document.getElementById('var1_rule_select').disabled = true;
      } else {
          if(this.value == "1") {
            value1_div.style['display'] = 'none';
            document.getElementById('var1_value_select').disabled = true;
            variable1_div.style['display'] = 'block';
            document.getElementById('var1_variable_select').disabled = false;
            rule1_div.style['display'] = 'none'
            document.getElementById('var1_rule_select').disabled = true;
          }
          else {
            value1_div.style['display'] = 'none';
            document.getElementById('var1_value_select').disabled = true;
            variable1_div.style['display'] = 'none';
            document.getElementById('var1_variable_select').disabled = true;
            rule1_div.style['display'] = 'block'
            document.getElementById('var1_rule_select').disabled = false;
          }
      }
    };
  </script>

  <script type="text/javascript">
    var var2type = document.getElementById('print_job_rule_var2_type');
    var value2_div = document.getElementById('var2_value');
    var variable2_div = document.getElementById('var2_variable');
    var rule2_div = document.getElementById('var2_rule');

    var2type.onchange = function() {
      if(this.value == "0") {
        value2_div.style['display'] = 'block';
        document.getElementById('var2_value_select').disabled = false;
        variable2_div.style['display'] = 'none';
        document.getElementById('var2_variable_select').disabled = true;
        rule2_div.style['display'] = 'none'
        document.getElementById('var2_rule_select').disabled = true;
      } else {
          if(this.value == "1") {
            value2_div.style['display'] = 'none';
            document.getElementById('var2_value_select').disabled = true;
            variable2_div.style['display'] = 'block';
            document.getElementById('var2_variable_select').disabled = false;
            rule2_div.style['display'] = 'none'
            document.getElementById('var2_rule_select').disabled = true;
          }
          else {
            value2_div.style['display'] = 'none';
            document.getElementById('var2_value_select').disabled = true;
            variable2_div.style['display'] = 'none';
            document.getElementById('var2_variable_select').disabled = true;
            rule2_div.style['display'] = 'block'
            document.getElementById('var2_rule_select').disabled = false;
          }
      }
    };
  </script>
<% end %>
