<% provide(:title, 'Print Job Rules') %>
<div class="row mt-3">
  <div class="col">
    <h3 class="mb-0">Print Job Rules</h3>
    <%= link_to 'New Print Job Rule', new_print_queue_print_job_rule_path, :class => "btn btn-primary" %>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <table class="table table-bordered table-striped">
      <thead class="table-dark text-light">
        <tr>
          <th class="text-center">Priority</th>
          <th>Rule</th>
          <th class="text-center">Option Flag</th>
          <th>Option Value</th>
          <th class="text-center">Links</th>
        </tr>
      </thead>
      <tbody>
        <% @print_job_rules.each do |print_job_rule| %>
          <tr>
            <td class="text-center <%= PrintQueue::PrintJobRule.options_for_priority_colors[print_job_rule.priority] %>"><%= PrintQueue::PrintJobRule.options_for_priority.invert[print_job_rule.priority] %></td>
            <td><%= string_rep(print_job_rule) %>
            <td class="text-center"><%= print_job_rule.option_flag %></td>
            <td><%= print_job_rule.option_value %></td>
            <td class="text-center">
            <div class="btn-group-vertical", role="group">
                <%= link_to fa_icon('eye'),
                              print_queue_print_job_rule_path(print_job_rule),
                              class: 'font-weight-bold btn btn-sm btn-success',
                              title: 'Show Print Job Rule',
                              data: { toggle: 'tooltip' } %>
                <%= link_to fa_icon('pencil'),
                            edit_print_queue_print_job_rule_path(print_job_rule),
                            class: 'font-weight-bold btn btn-sm btn-warning',
                            title: 'Edit Print Job Rule',
                            data: { toggle: 'tooltip' } %>
                <%= link_to fa_icon('times'),
                            print_queue_print_job_rule_path(print_job_rule),
                            method: :delete,
                            class: 'font-weight-bold btn btn-sm btn-danger',
                            title: 'Delete Print Job Rule',
                            data: { confirm: 'Are you sure you want to delete this Print Job Rule?',                            toggle: 'tooltip' } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
