<div class='card mt-3'>
  <div class='card-header'>
    <h3 class='text-center'>Shop Order Files</h3>
    
    <%= form_with url: shop_order_files_path, method: 'get' do |f| %>
      <div class="form-group">
        <%= f.label :with_so_num, 'Shop Order #'  %>
          <%= f.select :with_so_num, 
            options_for_select(ShopOrderFile.all.map{ |x| x.so_num }.uniq.sort,
            params[:with_so_num]),
            { include_blank: true },
            { class: 'custom-select',
            onchange: 'this.form.submit();' } %>
      </div>
    <% end %>
    <%= link_to 'New File', new_shop_order_file_path, class:'pull-left btn btn-primary my-1 mx-1' %>
    <%= link_to 'Reset', shop_order_files_url, class: 'btn btn-link pull-right' %>
  </div>
  <div class='card-body'>

      <%= @shop_order_files.blank? ? 'Select a shop order':(render @shop_order_files)  %>
  </div>
</div>