<div class='card mt-3'>
  <div class='card-header'>
    <h3 class='txt-center'>New Shop Order File</h3>
  </div>
  <div class='card-body'>
    <%= form_for @shop_order_file do |form| %>
    <div class="form-group">
      <%= form.label :so_num, 'Shop Order' %>
      <%= form.number_field :so_num, class: 'form-control' %>
      <div class="invalid-feedback text-center">
        <% @shop_order_file.errors[:so_num].each do |e| %>
          <%= e.capitalize %>
        <% end %>
      </div>
    </div>
    
    <div class='input group'>
      <div class='form-group'>
        <%= form.label :file, 'File' %>
        <%= form.file_field :file, class: 'form-control', multiple: true%>
        <div class="invalid-feedback text-center">
          <% @shop_order_file.errors[:file].each do |e| %>
            <%= e.capitalize %>
          <% end %>
        </div>
      </div>
      
    </div>
    <%= form.submit 'Submit', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>