<div class="row p-3">
  <div class="col">
    <% if notes.blank? %>
      <p class="text-danger">No results found.</p>
    <% else %>
      <p class="font-weight-bold">
        <%= page_entries_info notes %>
        <%= paginate notes %>
      </p>
    <% end %>
  </div>
</div>
 <div class="col">     
    <table class="table table-bordered table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="col-3" colspan="2">Info</th>
          <th class="col-4">Note</th>    
          <th class="col-4">Comments</th>
          <th class="col-1">Links</th>
        </tr>
      </thead>
      <tbody>
        <% notes.each do |n| %>
            <td>
                Date:
                <%= n.updated_at.strftime('%m/%d/%y') %>
                <br> 
                User:
                <% if n.user.blank? %>
                  &nbsp;
                <% else %>
                  <span class="badge badge-pill" 
                    style="color: <%= n.user.avatar_text_color %>; 
                    background-color: <%= n.user.avatar_bg_color %>;">
                    <%= n.user.initials %> </span>
                <% end %>
                <br>
              </td>
              <td>
                  Shift Time:
                  <a href='#' data-shift_time="<%= n.shift_time %>" title="Filter by shift time 
                  <%= n.shift_time %>" class="shift_time-filter font-weight-bold"> <%= n.shift_time %></a>
                  <br>
                  Shift Type:
                  <a href="#" data-shift_type="<%= n.shift_type %>" title="Filter by shift type
                  <%= n.shift_type %>" class="shift_type-filter font-weight-bold"> <%= n.shift_type %></a> 
                  <br>
                  Dept:
                  <a href="#" data-dept="<%= n.dept %>" title="Filter by department <%= n.dept %>" 
                  class="dept-filter font-weight-bold"><%= n.dept %></a>
            </td> 

            <td> <%=sanitize n.message %>  </td>

            <td> <%= render partial: "comments/comment_list", locals: {commentable: n} %> </td> 
            
            <td class="col-1 text-center"> 
              <div class="btn-group-vertical", role="group">
                <%= link_to fa_icon('eye'),
                              shift_note_path(n),
                              class: 'font-weight-bold btn btn-sm btn-success',
                              title: 'View Shift Note',
                              data: { toggle: 'tooltip' } %>
                <% if @access_level >= 2 %>
                <%= link_to fa_icon('pencil'),
                            edit_shift_note_path(n),
                            class: 'font-weight-bold btn btn-sm btn-warning',
                            title: 'Edit Shift Note',
                            data: { toggle: 'tooltip' } %>
                <% end %>
                <% if @access_level >= 3 %>
                <%= link_to fa_icon('times'),
                            shift_note_path(n),
                            method: :delete,
                            class: 'font-weight-bold btn btn-sm btn-danger',
                            title: 'Delete Shift Note',
                            data: { confirm: 'Are you sure you want to delete this shift note?',                            toggle: 'tooltip' } %>
                <%  end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate notes %>
</div>
