<div class="container-fluid">
  <% @shift_note = ShiftNote.create %>
  <div class="row">
    <div class="col-2">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Info</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <% notes.each do |n| %>
          <tr class="clickme" id="<%= n.id %>">
            <td>
              <div class="row">
                <div class="col-4">
                  Date:
                  <%= n.updated_at.strftime('%m/%d/%y') %>
                  <br> 
                  User:
                  <% if n.user.blank? %>
                    &nbsp;
                  <% else %>
                    <span class="badge badge-pill" 
                      style="color: <%= n.user.avatar_text_color %>; 
                      background-color: <%= n.user.avatar_bg_color %>;">
                      <%= n.user.initials %>
                <% end %> </span>
                </div>
             
              </div> 
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-10" id="showarea">
    </div>
  </div>
</div>

<div class="hidden" id="hidearea">
  <% notes.each do |n| %>
    <div class="container-fluid bg-light rounded" id="s<%= n.id %>">
      <%= render partial: 'show', locals: { note: ShiftNote.find(n.id) } %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.clickme').on('click', function() {
      $("#hidearea").append($("#showarea").html());
      $('#showarea').html("");
      $("#showarea").append(document.getElementById(`s${this.id}`));
    });
  })</script>
