<div class="col">
  <% if notes.blank? %>
    <p class = "text-danger">No results found. </p>
  <%else%> 
    <p class="font-weight-bold"> 
      <% page_entries_info notes %>  </p>
     
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Shift</th>
          <th>By</th>
          <th>Dept</th>
          <th>Type</th>  
          <th>Note</th>    
          <th>Comments</th>
          <th>Links</th>
        </tr>
      </thead>

      <div class="card">
    <h5 class="card-header">
        <%= page_entries_info @shift_notes %></h5>
      <div class="card-body">
        <%= paginate @shift_notes %>
      </div>
    </div>

      <tbody>
        <% notes.each do |n| %>
          <tr>
            <td class="text-center"> <%= n.updated_at.strftime('%m/%d/%y') %>  </td>

            <td class="text-center"> <a href='#' data-shift_time="<%= n.shift_time %>" title="Filter by shift time 
              <%= n.shift_time %>" class="shift_time-filter font-weight-bold"> <%= n.shift_time %></a> </td>
          
            <td class="text-center"> 
              <% if n.user.blank? %>
                &nbsp;
              <% else %>
                <span class="badge badge-pill" 
                style="color: <%= n.user.avatar_text_color %>; 
                background-color: <%= n.user.avatar_bg_color %>;">
                <%= n.user.initials %>
              <% end %> </span> </td> 

            <td class="text-center"> <a href="#" data-dept="<%= n.dept %>" title="Filter by department <%= n.dept %>" 
              class="dept-filter font-weight-bold"><%= n.dept %></a> </td>

            <td class="text-center"> <a href="#" data-shift_type="<%= n.shift_type %>" title="Filter by shift type
              <%= n.shift_type %>" class="shift_type-filter font-weight-bold"> <%= n.shift_type %></a> </td>

            <td> <%=sanitize n.message %>  </td>

            <td> <%= render partial: "comments/comment_list", locals: {commentable: n} %> </td> 
            
            <td> <%= link_to 'Show', shift_note_path(n.id), class: "btn btn-primary"%> </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate notes %>
  <% end %>
</div>