<ul class="px-0 py-0" style="list-style-type:none;">
  <% notes.each do |n| %>
  <li>
    <div class="card fluid">
      <div class="card-header py-2">
        <div class="form-row mb-0">
          <div class="col-4 text-right">
            Dept:
            <a href="#" data-dept="<%= n.dept unless n.dept.blank? %>" title="Filter by department <%= n.dept unless n.dept.blank? %>" 
            class="dept-filter font-weight-bold"><%= n.dept unless n.dept.blank? %></a>
            <br>
            Shift Time:
            <a href='#' data-shift_time="<%= n.shift_time unless n.shift_time.blank? %>" title="Filter by shift time 
            <%= n.shift_time unless n.shift_time.blank? %>" class="shift_time-filter font-weight-bold"> <%= n.shift_time unless n.shift_time.blank? %></a>
            <br>
            Shift Type:
            <a href="#" data-shift_type="<%= n.shift_type unless n.shift_type.blank? %>" title="Filter by shift type
            <%= n.shift_type unless n.shift_type.blank? %>" class="shift_type-filter font-weight-bold"> <%= n.shift_type unless n.shift_type.blank? %></a> 
          </div>
          <div class="col-4 text-center">
            <% if n.user.blank? %>
              &nbsp;
            <% else %>
              <span class="badge badge-pill" 
                style="color: <%= n.user.avatar_text_color %>; 
                background-color: <%= n.user.avatar_bg_color %>;">
                <%= n.user.initials %> </span>
            <% end %><br>
            <%= n.created_at.strftime('%D') unless n.updated_at.blank? %><br>
            <%= n.created_at.strftime("%I:%M %p")%>
          </div>
          <div class="col-4 text-right">
            <button class="accord btn btn-block float-right" style="background-color: #DDDDDD; border-color: #dee2e6;" type="button" data-toggle="collapse" data-target="#collapseInfo<%=n.id%>" style="font-size: 11px;">
              <%= fa_icon('info')%>
              </button>
            <button class="accord btn btn-block float-right"  type="button" style="background-color: #DDDDDD; border-color: #dee2e6;" data-toggle="collapse" data-target="#collapseComments<%=n.id%>" style="font-size: 11px;">
              <%= fa_icon('commenting', text: n.comments.length )%>
              </button>
          </div>
        </div>
      </div>
      <div class="collapse bg-white" id="collapseComments<%=n.id%>">
        <div class="card-body py-2 px-1">           
        <%= render partial: 'comments/comment_combo', locals: { :s => n }%>
        </div>
     </div>
      <div class="collapse show bg-white" id="collapseInfo<%=n.id%>">
        <div class="card-body">
          <strong>Note:</strong>
          <%=sanitize n.message unless n.message.blank? %>
        </div>
      </div>

    </div>
  </li>
  <% end %>
