<tr>
  <td class="text-center">
    <%= note.user.badge %>
    <br>
    <%= note.created_at.strftime('%D') %>
    <br>
    <%= note.created_at.strftime("%I:%M %p") %>
  </td>
  <td>
    Shift Time:
    <%= filter_link(note.shift_time, 'shift_time') %>
    <br>
    Shift Type:
    <%= filter_link(note.shift_type, 'shift_type') %>
    <br>
    Dept:
    <%= filter_link(note.dept, 'dept') %>
  </td>
  <td>
    <%= note.message.html_safe %>
  </td>
  <td class="px-0 py-1">
    <nav>
      <div class='nav nav-tabs' id='nav-tab<%= note.id %>' 
                              role='tablist'>
        <a class='nav-item nav-link active' id='<%= note.id %>nav-home-tab' 
                                  data-toggle='tab' 
                                          href='#<%= note.id %>nav-home' 
                                          role='tab'>
          Comment List
        </a>
        <a class='nav-item nav-link' id='nav-profile-tab' 
                            data-toggle='tab' 
                                    href='#<%= note.id %>nav-profile' 
                                    role='tab'>
          Leave a Comment
        </a>
      </div>
    </nav>
    <div class='tab-content' id='nav-tabContent'>
      <div class='tab-pane fade show active' id='<%= note.id %>nav-home' 
                                            role='tabpanel' 
                                aria-labelledby='nav-home-tab'>
        <table class="table" style="width: 100%; max-width: 550px; margin: 0 auto;" >
          <thead>
            <tr>
              <th class="col-1"> Comments:</th>
              <th class="col-10"></th>
              <th class="col-1"></th>
            </tr>
          </thead>
          <tbody>
            <% note.comments.each do |c| %>
            <tr>
              <td class="text-center">
                <%= c.user.badge %>
                <%= c.created_at.strftime('%D') %>
              </td>
              <td><%= sanitize c.body %></td>
              <%= attachment_area(c) %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class='tab-pane fade' id='<%= note.id %>nav-profile'
                               role='tabpanel' 
                    aria-labelledby='nav-profile-tab'>
        <div class="container-fluid mt-0">
          <%= form_for [note, Comment.new] do |f| %>    
            <div class="form-row">
              <div class="form-group col-md-2">
                <%= f.hidden_field :user_id, value: @current_user.id %>
              </div>
            </div>        
            <div class="form-row">
              <%= f.text_area :body, class: "form-control", placeholder: "Add a comment..." %>
              <div class="form-group col">  
                <%= f.label :Attachment , class:"col-form-label" %>       
                <%= f.file_field :attachment, :multiple => true, class: "form-control-file", name: "comment[attachment][]" %>
              </div>
            </div>    
            <div class="btn-group" role="group">
              <%= f.submit "Create Comment", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </td>
  <td class="text-center">
    <%= button_group(note) %>
  </td>
</tr>