<% provide(:title, 'Shift Note') %>
<div style="max-width: 600px; margin: 0 auto;" class="pb-4">
  <p>
    <h4><strong>
      <%= link_to fa_icon('backward'), shift_notes_path,
          class: 'font-weight-bold btn btn-sm btn-secondary' %> 
      Note:
    </strong></h4>
    <strong>Shift date:</strong>
    <%= @shift_note.created_at.strftime('%m/%d/%y') %>
    <br>
    <strong>Updated:</strong>
    <%= @shift_note.updated_at %>
    <br>
    <strong>Entered by:</strong>
    <%= @shift_note.user.full_name %>
    <br>
    <strong>Dept:</strong>
    <%= @shift_note.dept %>

    <strong>Shift type:</strong>
    <%= @shift_note.shift_type %>

    <strong>Shift time:</strong>
    <%= @shift_note.shift_time %>
  </p>
    <strong>Message:</strong> <br>
    <%=sanitize @shift_note.message %>
    <hr>
    <%= render partial: 'comments/comment_combo', 
                locals: { :s => @shift_note }%>
</div>
