<% provide(:title, 'Shift Note') %>
<p id="notice"><%= notice %></p>

  <p>
    <%= link_to 'Back', shift_notes_path, class: "btn btn-primary" %> 
    <%= link_to 'Edit', edit_shift_note_path, class: "btn btn-primary" %>
    <h2><strong>Note:</h2></strong>
  </p>

<div class="container-fluid" style="border:1px solid #cecece;">
  <p>
    <strong>Shift date:</strong>
    <%= @shift_note.created_at.strftime('%m/%d/%y') %>
    <br>
    <strong>Updated:</strong>
    <%= @shift_note.updated_at %>
    <br>
    <strong>Entered by:</strong>
    <%= @shift_note.user.full_name %>
    <br>
    <strong>Dept:</strong>
    <%= @shift_note.dept %>

    <strong>Shift type:</strong>
    <%= @shift_note.shift_type %>

    <strong>Shift time:</strong>
    <%= @shift_note.shift_time %>
  </p>
  <strong>Message:</strong> <br>
  <%=sanitize @shift_note.message %>
  <br>
</div>

<br>

<h3><strong>Comments:</h3></strong>
<%= render partial: "comments/comment_list", 
           locals: {commentable: @shift_note} %>
<%= render partial: "comments/comment_form", 
           locals: {commentable: @shift_note} %>






