<% provide(:title, 'Shift Note') %>

<div class="container-fluid p-2">
  <p>
    <strong>Shift date:</strong>
    <%= @shift_note.created_at.strftime('%m/%d/%y') %>
    <br>
    <strong>Updated:</strong>
    <%= @shift_note.updated_at %>
    <br>
    <strong>Entered by:</strong>
    <%= @shift_note.user.full_name %>
    <br>
    <strong>Dept:</strong>
    <%= @shift_note.dept %>

    <strong>Shift type:</strong>
    <%= @shift_note.shift_type %>

    <strong>Shift time:</strong>
    <%= @shift_note.shift_time %>
  </p>
  <strong>Message:</strong> <br>
  <%=sanitize @shift_note.message %>
  <br>
  <hr>
  <h5><strong>Comments:</h5></strong>
    <%= render partial: "comments/comment_list", 
           locals: {commentable: @shift_note} %>
    <%= render partial: "comments/comment_form", 
           locals: {commentable: @shift_note} %>
</div>
