<p>
  <strong>User:</strong>
  <%= @print_job.user %>
</p>

<p>
  <strong>File:</strong>
  <%= @print_job.file %>
</p>

<p>
  <strong>File type:</strong>
  <%= @print_job.file_type %>
</p>

<p>
  <strong>Destroyed at:</strong>
  <%= @print_job.destroyed_at %>
</p>

<%= link_to 'Edit', edit_print_queue_print_job_path(@print_job) %> |
<%= link_to 'Back', print_jobs_path %>
