<div class="container-fluid border p-3">
  <%= form_for @print_queue do |f| %>

    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <%= f.label "Name:"%>
          <%= f.text_field :name, { class: "form-control" } %>
          <div class="invalid-feedback text-center">
            Name required.
          </div> 
        </div>
        <div class="form-group">          
          <%= f.label "Printer:"%>
          <%= f.select :printer, options_for_select(Printing::Printer.all.map { |p| [p.name, p.command] }, @print_queue.printer ), {}, { class: "form-control" } %>
          <div class="invalid-feedback text-center">
            Printer required.
          </div> 
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <%= link_to fa_icon('plus-square'),
                            "javascript:;",
                            class: 'font-weight-bold btn btn-sm btn-success',
                            id: "addNewOption",
                            title: 'Add Option' %>
          <%= f.label "Options:"%>
        </div>
      </div>
      <div class="col-12">
        <div id="option_area"></div>
      </div>
    </div>

    <div class="btn-group" role="group">
      <%= link_to fa_icon('arrow-left'),
                          printing_print_queues_path,
                          method: :get,
                          class: 'font-weight-bold btn btn-sm btn-secondary',
                          title: 'Back' %>
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
    
    <div id="option_field" style="display: none;">
      <div id="options" class="form-inline mb-3">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> Flag: </span>
            </div>
            
            <%= f.select 'options', 
              options_for_select(Printing::PrintQueue.option_flags),
              { multiple: true, include_blank: true }, { name: "printing_print_queue[options][]", class: "form-control", id: "option_select" } %>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> Value: </span>
            </div>
            <%= f.text_field 'options', { name: "printing_print_queue[options][]", class: "form-control", id: "option_select", placeholder: "(Dependent on flag.)" } %>
          </div>

          <%= link_to fa_icon('times'), "javascript:;",
            class: 'font-weight-bold btn btn-sm btn-danger ml-1',
            id: "remove_option",
            title: 'Delete Option' %>

        </div>
      </div>
    </div>

  <% end %>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#addNewOption').on('click', function(){
        $('#option_area').append($('#option_field').clone().html());
      });

      $('#option_area').on('click','#remove_option', function(){
        $(this).closest('#options').remove();
      });
    });
  </script>
</div>