<div class="card text-center btn-block">
  <div class="card-header bg-dark text-white">
    <strong><%= record.timestamp.strftime("%I:%M%P")%></strong>
  </div>
  <div class='card-body text-light <%= Timeclock.color_options["#{record.record_type}"] %>'>
    <h6 class="card-title text-center"><%= record.record_type %> </h6>
    <p class="card-text text-center">
    </p>
  </div>
    <% if record.clock_edit.blank? %>
    <% else %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-secondary text-white"><u>Edit</u>: <%=Timeclock::ReasonCode.find(record.clock_edit.reason_id).description %></li>
        <li class="list-group-item bg-secondary text-white"><%=record.clock_edit.note%>
        <footer class="blockquote-footer p-1 text-white"> Edited by: <%= User.find(record.clock_edit.user_id).initials %> @
          <%= record.clock_edit.updated_at.strftime("%I:%M%P %m/%d/%y") %>
        </li>
        </footer>
      </ul>
    <% end %>
  </div>
  <br>
</div>
