<tr>
  <td>
    <small class="text-muted"><%= user.employee_number %></small>
    <strong class="<%= 'text-info' if user.is_admin %>"><%= user.full_name %></strong>
    <span class="badge badge-pill" style="color: <%= user.avatar_text_color %>; background-color: <%= user.avatar_bg_color %>;"><%= user.initials %></span>
    <% if user.nickname != user.first_name %>
      <br />
      <%= small_label_bold_text 'Goes By', user.nickname %>
    <% end %>
    <br />
    <%= small_label_bold_text 'System i Username', "<code>#{user.username}</code>" %>
  </td>
  <td>
    <%= small_label_bold_text fa_icon('envelope', text: 'Email'), link_to(user.email, "mailto:#{user.email}") %>
    <% unless user.phone_number.blank? %>
      <br />
      <%= small_label_bold_text fa_icon('phone', text: 'Phone'), link_to(number_to_phone(user.phone_number, area_code: true), "tel:#{user.phone_number}") %>
    <% end %>
    <% unless user.address.blank? %>
      <br />
      <%= small_label_bold_text fa_icon('map', text: 'Address'), link_to("#{user.address}, #{user.city}, #{user.state} #{user.zip_code}", 'https://www.google.com/maps/search/?api=1&query=' + CGI.escape("#{user.address}, #{user.city}, #{user.state} #{user.zip_code}"), target: '_blank') %>
    <% end %>
  </td>
  <td>
    <%= link_to fa_icon('pencil', text: 'Edit'), edit_admin_user_path(user), class: 'font-weight-bold btn btn-sm btn-primary' %>
  </td>
</tr>