<%= form_with url: materials_vat_history_notes_path,
              class: 'bg-dark text-white border rounded p-3 mb-3',
              method: 'get' do |f| %>
<p class="small font-weight-bold text-warning mb-0 text-uppercase">
    <a class="collapse-filters text-warning collapsed" data-toggle="collapse" href="#collapseFilters" role="button" aria-collapsed="true" aria-controls="collapseFilters">
      [ - ]
    </a>
    Filter Results
  </p>

  <div class="show mt-2" id="collapseFilters">
 
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :with_department,
                    'Department:'  %>
        <%= f.select :with_department, 
              options_for_select(Materials::VatHistoryNote.options_for("dept"),
              params[:with_department]),
              { include_blank: true },
              { class: 'custom-select',
             onchange: 'this.form.submit();' } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :with_vat,
                    'Vat:'  %>
        <%= f.select :with_vat, 
              options_for_select(Materials::VatHistoryNote.options_for("vat"),
              params[:with_vat]),
              { include_blank: true },
              { class: 'custom-select',
             onchange: 'this.form.submit();' } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :with_user,
                    'User:' %> 
        <%= f.select :with_user,
              options_for_select(Materials::VatHistoryNote.options_for("user"),
              params[:with_user]),
              { include_blank: true },
              { class: 'custom-select',
             onchange: 'this.form.submit();' }%>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :with_timestamp_gte,
                    'From Date/Time:'  %>
        <%= f.date_field :with_timestamp_gte,
                         class: 'form-control',
                         onchange: 'this.form.submit();',
                         value: params[:with_timestamp_gte] %>            
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :with_timestamp_lte,
                    'To Date/Time:'  %>
        <%= f.date_field :with_timestamp_lte,
                         class: 'form-control',
                         onchange: 'this.form.submit();',
                         value: params[:with_timestamp_lte] %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :sorted_by,
                    'Sort By:'  %>
        <%= f.select :sorted_by, 
              options_for_select(Materials::VatHistoryNote.options_for("sort"),
              params[:sorted_by]),
              { include_blank: false },
              { class: 'custom-select',
             onchange: 'this.form.submit();' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :with_search_term,
                    'Search:'  %>
        <%= f.text_field :with_search_term,
                         class: 'form-control',
                         onchange: 'this.form.submit();',
                         value: params[:with_search_term] %>
        <small class="form-text text-light">
          Searches for all words in any order. Use double quotes around multiple words to search for exact phrase. To
          exclude a word or phrase, use two minus signs before the word or phrase (outside the double quotes for a
          phrase).
        </small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="pull-right">
        <%= link_to 'Reset', materials_vat_history_notes_url, class: 'btn btn-link text-white' %>
        <%= f.button fa_icon('filter', text: 'Filter'),
                      class: 'btn btn-sm btn-warning font-weight-bold',
                      type: 'submit' %>
      </div>
      <div class="clearfix"><!----></div>
    </div>
  </div>
<% end %>
</div>