<div class="col">
  <% if notes.blank? %>
    <p class="text-danger">No results found.</p>
  <% else %>
    <p class="font-weight-bold">
      <%= page_entries_info notes %>
    </p>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Vat</th>
          <th>Date/Time</th>
          <th class="text-center">Entered By</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% notes.each do |n| %>
          <tr>
            <td>
              <a href="#" data-vat="<%= n.vat.id %>" title="Filter by vat <%= n.vat.code %>" class="vat-filter font-weight-bold"><%= n.vat.code %></a><br />
              <%= n.vat.description %><br />
              Dept: <a href="#" data-dept="<%= n.vat.department %>" title="Filter by department <%= n.vat.department %>" class="dept-filter font-weight-bold"><%= n.vat.department %></a>
            </td>
            <td><%= n.notes_timestamp.strftime('%m/%d/%Y %l:%M%P') %></td>
            <td class="text-center">
              <% if n.user.blank? %>
                &nbsp;
              <% else %>
                <span class="badge badge-pill" style="color: <%= n.user.avatar_text_color %>; background-color: <%= n.user.avatar_bg_color %>;"><%= n.user.initials %></span>
              <% end %>
            </td>
            <% if term.blank? %>
              <td><%= simple_format n.notes, class: 'mb-0' %></td>
            <% else %>
              <% search_terms = split_search_terms(term) %>
              <td><%= highlight(simple_format(n.notes, class: 'mb-0'), search_terms[:include], highlighter: '<mark class="bold">\1</mark>') %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate notes %>
  <% end %>
</div>