<%= form_with(model: timeclock_reason_code, local: true) do |form| %>


  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :timeclock_reason_code_description %>
  </div>

  <div class="field">
    <%= form.label :requires_note %>
    <%= form.check_box :requires_note, id: :timeclock_reason_code_requires_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
