<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-6">
    <%= link_to fa_icon("step-backward", text: "Back"), timeclock_clock_periods_path, class: "text-dark ml-3 mt-2 align-middle" %>
    <h3 class="mb-0 d-inline">Timeclock Reason Codes</h3>
    <div class="pull-right align-middle">
      <%= link_to fa_icon("plus", text: "New Reason Code"),     new_timeclock_reason_code_path,
        class: "btn text-success" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th class="text-center">Delete?</th>
        </tr>
      </thead>

      <tbody>
        <% @reason_codes.each do |reason_code| %>
          <tr>
            <td><%= reason_code.description %></td>
            <td class="text-center"><%= link_to fa_icon("times 2x"),
                    reason_code, 
                    method: :delete, 
                    class: " text-danger",
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

