<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @timeclock_reason_code.description %>
</p>

<p>
  <strong>Requires note:</strong>
  <%= @timeclock_reason_code.requires_note %>
</p>

<%= link_to 'Edit', edit_timeclock_reason_code_path(@timeclock_reason_code) %> |
<%= link_to 'Back', timeclock_reason_codes_path %>
